<li class="bot">
	{{if ttsIcon}}<div class="avata tts" onclick="javascript:chat.speechText(this);"></div>{{/if}}
	<div {{if domainImage}} class="domainavata" style="background: url({{attachmentpath:domainImage}}) no-repeat center/cover;" {{else}}class="avata" {{/if}}></div>
	<div class="name">{{:botName}}</div>
	<div class="bubble">
		{{if enableOpinion && dialogPkey}}<div class="opinion-icon" data-pkey="{{:dialogPkey}}" onclick="javascript:opinion.main(this);"><i class="fa fa-ellipsis-v " aria-hidden="true"></i></div>{{/if}}
		<div class="time">{{:time}}</div>
		<div class="answer" {{if enableOpinion && dialogPkey}}style="padding-right:5px;"{{/if}}>{{:body}}</div>
	</div>
</li>