{{:~setMoreData("list"+~root.botBubbleId+"_"+ #getIndex(), contents)}}

<div class="list-form" id="list{{:~root.botBubbleId}}_{{:#getIndex()}}" 
{{if more}}
	data-total={{:contents.length}} 
	data-pagesize={{if more.pagesize}}{{:more.pagesize}}{{else}}{{defaultMore:"pagesize"}}{{/if}} 
{{/if}}>
	
	<div class="list-inner" role="listbox">
		{{include tmpl="dialogTmpl" /}}
	</div>
	
	{{if more && contents.length > more.pagesize}}
	<button type="button" class="btn btn-more ellipsis" onclick="javascript:chatMore.click(event);">{{if more.text}}{{:more.text}}{{else}}{{defaultMore:"text"}}{{/if}}</button>
	{{/if}}
</div>