<ul id="main">
	<li class="opinion-header">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">원하는 버튼을 선택해주세요.</div>
		<div class="col-xs-2 cursor" onclick="javascript:opinion.close();"><i class="fa fa-times" aria-hidden="true" ></i></div>
	</li>
	<li class="cursor" data-type="str">의견 입력</li>
	<li class="cursor" data-type="score">만족도 평가</li>
</ul>