<ul id="score">
	<li class="opinion-header">
		<div class="col-xs-2 top-btn back" onclick="javascript:opinion.back('score');"><i class="fa fa-arrow-left" aria-hidden="true" ></i></div>
		<div class="col-xs-8">만족도를 선택해주세요.</div>
		<div class="col-xs-2 top-btn cancel" onclick="javascript:opinion.close();"><i class="fa fa-times" aria-hidden="true" ></i></div>
	</li>
	<li class="cursor" data-value="100">매우 좋음</li>
	<li class="cursor" data-value="75">좋음</li>
	<li class="cursor" data-value="50">보통</li>
	<li class="cursor" data-value="25">나쁨</li>
	<li class="cursor" data-value="1">아주 나쁨</li>
</ul>