<ul id="str">
	<li class="opinion-header">
		<div class="col-xs-2 top-btn back" onclick="javascript:opinion.back('str');"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
		<div class="col-xs-8">의견을 입력해주세요.</div>
		<div class="col-xs-2 top-btn cancel" onclick="javascript:opinion.close();"><i class="fa fa-times" aria-hidden="true" ></i></div>
	</li>
	<li class="cursor" data-value="오답입니다">오답입니다.</li>
	<li class="cursor" data-value="원하던 정보입니다.">원하던 정보입니다.</li>
	<li style="padding-top:0px;">
		<div class="write-form">
			<textarea id="opinionStr" rows="1" placeholder="기타 의견을 입력해주세요." onkeydown="javascript:opinion.event(event);"></textarea>
			<span class="send" id="chat-send" data-type="incorrect" onclick="javascript:opinion.save('str');"><span></span></span>
		</div>
	</li>
</ul>