@charset "utf-8";

/* 가나다리스트 */
.atoz{margin-bottom:20px; padding: 30px 75px; background-color: #f8f8f8; border-radius: 16px; box-sizing: border-box;}
.atoz .swiper-wrapper{display: block; height: auto;}
.searchArea .atoz{margin-top: 15px;}
.atoz div{text-align:center; margin-bottom: 4px;}
.atoz div:last-child{margin-bottom: 0;}
.atoz a{display:inline-block;font-family: PretendardM, sans-serif; width:30px;height:30px;line-height: 30px; margin:2px 0 2px 2px;background-color:#fff;border:1px solid #d4d4d4;color:#1b1b1b; box-sizing: border-box;border-radius:9px;} 
.atoz a:hover{border:1px solid #000;}
.atoz a.atozTotal,.atoz a.atozEtc{width:50px}
.atoz a.selected{background-color:#000;border:1px solid #000;color:#fff;}

@media screen and (min-width:0px) and (max-width:767px){
	.atoz{margin-bottom:20px; padding: 12px 8px;}
	.atoz .atozSwiper{overflow: hidden}
	.atoz .swiper-wrapper{display: flex;}
}