@charset "utf-8";

/* layerPopup */
.addBasketLayer {min-width: 340px;}
.commentWriteLayer, .tagWriteLayer{min-width: 700px;}
.missrepoLayer.layerPopup .popupContent{padding: 10px 25px 30px;}
.popupContent .sentence{margin-bottom: 20px; line-height: 1;}
.popupContent .sentence .essential{color: #384655;}

.layerPopup .popupContent .selectBox1{width: 100%;}
.layerPopup .popupContent ol li{margin-bottom: 15px; color: #384655;}
.layerPopup .popupContent .dateSelect{margin-top: 15px; text-align: center;}
.layerPopup .popupContent .dateSelect .reservationDate{margin-right: 10px; color: #384655; font-family:NotoSansM, sans-serif;}
.layerPopup .popupContent .dateSelect input{width: 200px; box-sizing: border-box;}
.layerPopup .popupContent .layerTable tr th{color: #384655; font-family:NotoSansM, sans-serif; text-align: left;}
.layerPopup .popupContent .layerTable tr td{color: #384655; height: 30px;}

.layerPopup .popupContent .exportType {margin-bottom:12px}
.layerPopup .popupContent .exportType li{position: relative; display: inline-block;min-width:88px;text-align: center;}
.layerPopup .popupContent .exportType li .imgArea {display:block;height:52px;text-align: center;}
.layerPopup .popupContent .exportType li .txt {display:block;margin-top:6px;color:#333;font-size:15px}
/* img 위치조정 */
.layerPopup .popupContent .exportType li.exportHtml .imgArea img {margin-top:5px}
.layerPopup .popupContent .exportType li.exportMail .imgArea img {margin-top:11px}
.layerPopup .popupContent .exportType li.exportPrint .imgArea img {margin-top:9px}
.layerPopup .popupContent .exportType li.exportPreview .imgArea img {margin:9px 0 0 12px}
.layerPopup .popupContent .exportType li.exportRefworks .imgArea img {margin-top:4px}

.layerPopup .popupContent .range {background:#f3f3f3;padding:24px 16px;border-radius: 10px;font-size:0}
.layerPopup .popupContent .range>li {display:inline-block;margin:4px 0}
.layerPopup .popupContent .range>li:not(:last-child) {margin-right:24px}

.layerPopup .popupContent .notice.exportRefWorks {margin:91px 0 100px 0}
.layerPopup .popupContent .notice.exportEndNote {margin:91px 0 100px 0}

.layerPopup .popupContent .receiveMail{margin: 10px auto; width: 80%;}

.exportLayer .btnBunchType1 {margin-top:40px}

.layerPopup .reviewTitle{width: 100%;}
.layerPopup .textareaWrite{height: 110px; padding: 15px 20px;}
.layerPopup .popupSentence{font-size: 14px; margin-top: 10px; margin-bottom: 10px; color: #333333;}
.layerPopup .radioSelect{margin-top: 15px;}
.layerPopup .radioSelect .labelText{display: inline-block; margin-right: 20px;}
.layerPopup .radioSelect label{display: inline-block; margin-left: 15px;}

@media screen and (min-width:768px){
    .exportLayer .popupContent {min-height:470px;max-height:none}
}
@media screen and (max-width:767px){
    .layerPopup .popupContent .dateSelect .reservationDate{margin: 0 10px 10px 0; display: inline-block;}
    .layerPopup .popupContent .range{padding: 20px;}
    .layerPopup .popupContent .layerPopupButtons a, .layerPopup .popupContent .layerPopupButtons input{display: inline-block; margin: 4px; height: 37px; line-height: 37px; padding: 0 20px;}
}
@media screen and (max-width:499px){
    .layerPopup .popupContent .exportType li, .layerPopup .popupContent .range li{width: 45%;}
    .layerPopup .popupContent .exportType li:not(:last-of-type), .layerPopup .popupContent .range li:not(:last-of-type){margin-right: 0px;}
    .layerPopup .popupContent .receiveMail{width: 100%;}
    .layerPopup .radioSelect .labelText{display: block;}
}

/* 서평쓰기 select Star */
.selectBox .selectW{position: relative;}
.selectW label{display: block; width: 160px; height: 55px; box-sizing: border-box; border: 1px solid #d4d4d4; border-radius: 3px;  background: #fff url(../../../image/standard/ico/selectArrow.png) no-repeat right 16px top 50%;}
.selectW label a{display: block; width: 100%; height: 100%;}
.selectW label span{display: none;}
.selectW label a img{padding: 19px 15px;}
.selectW select{display: none;}
.srchSelectBox{position: relative;}
.srchSelectBox .OptList{display: none; position: absolute; width: 160px; box-sizing: border-box; background: #fff; border: 1px solid #767676; box-shadow: 3px 4px 16px 0px rgb(0 0 0 / 17%); padding: 5px 0;}
.srchSelectBox .OptList ul li a{display: block; padding: 5px 5px 5px 15px;}
.srchSelectBox .OptList ul li a span{opacity: 0; visibility: hidden;}
.srchSelectBox .OptList ul li a:hover{background: #1e90ff;}

/* 시설예약 팝업 */
.popupContent .roomName{margin-bottom: 16px; color: #3b3b3b; font-size: 20px; font-family:NotoSansM, sans-serif;}

.popupContent .reserve{padding: 0;}
.popupDateSelect{margin-left: 20px; margin-bottom: 20px;}
.popupDateSelect .searchDay{color: #333333; font-size: 16px; font-family:NotoSansM, sans-serif;} 
.popupDateSelect input{margin-left: 12px;}

.popupRoomContent {margin-bottom: 18px; border: 1px solid #dddddd; width: 755px;}
.popupRoomContent:last-of-type{margin-bottom: 0;}
.popupRoomContent .popupContentHeader > span{display: inline-block; box-sizing: border-box; height: 56px; padding: 14px 16px; color: #ffffff; font-size: 16px; font-family:NotoSansM, sans-serif;}
.popupRoomContent .popupContentHeader{display: block; height: 56px; background: url(../../../image/standard/ico/arrowUp2.png) no-repeat right 25px top 23px; border-radius: 0 !important;}
.popupRoomContent.on .popupContentHeader{background: url(../../../image/standard/ico/arrowDown2.png) no-repeat right 25px top 23px;}
.popupRoomContent.disabled .popupContentHeader{background-color: #9a9a9b;}
.popupRoomContent .reserveTime{margin-top: 20px; padding: 0 16px;}
.popupRoomContent .reserveBtn{margin-top: 0; padding-bottom: 20px;}
.popupRoomContent .reserveBtn a{margin-top: 0;}
.popupRoomContent .infoTxt{padding: 20px;}
.popupRoomContent .roomStatMsg{display: inline-block; margin-left: 10px; color: #ed145b; font-size: 14px; background: #ffffff; border-radius: 20px; height: 28px; padding: 0 20px; line-height: 28px;}
@media screen and (max-width:900px){
    .popupRoomContent {width: 550px;}
}
@media screen and (max-width:767px){
    .popupRoomContent {width: 100%;}
    .popupDateSelect{margin-left: 0;}
    .popupRoomContent .popupContentHeader{background: url(../../../image/standard/ico/arrowUp2.png) no-repeat right 12px top 23px;}
    .popupRoomContent .popupContentHeader > span{font-size: 15px;}
    .popupRoomContent .roomStatMsg{margin-left: 7px;}
}

/* 시설예약 신청서 작성 */
.popupContent .resInfo{text-align: left; border-bottom: 1px solid #efefef; padding: 10px 8px;}
.popupContent .resInfo:first-of-type{padding-top: 0;}
.popupContent .resInfo .label{color: #7e7e7e; width: 80px;}
.popupContent .resInfo  > p{color: #333333; font-size: 16px; font-family: NotoSansM, sans-serif;}
.popupContent .resInfo label{color: #7e7e7e; width: 80px; display: inline-block;}
.popupContent .resInfo .point{display: inline-block; margin-right: 4px; color: #ed145b;}
.popupContent .resInfo textarea{width: calc(100% - 83px);}
.popupContent .resInfo .txtArea{vertical-align: top;}

.memberListW{display: flex;}
.memberList{margin-left: 16px; width: 400px;}
.memberList li:not(:last-of-type){margin-bottom: 12px;}
.memberList li > div {display: inline-block;}
.memberList li > div > div{display: inline-block; margin-right: 12px; width: 135px;}
.memberList li .label{display: inline-block; margin-right: 8px; width: 45px !important;}
.memberList li > div > div .infoTxt{color: #333333; font-size: 16px; font-family: NotoSansM, sans-serif;}
.memberList li > .delete{background: #616161;}

@media screen and (max-width:767px){
    .memberListW{display: block;}
    .memberList{width: auto; margin-left: 10px; margin-top: 8px;}
    .memberList li > div > div{display: block; margin-top: 4px;}   
    .memberList li:not(:last-of-type){margin-bottom: 20px;}
    .popupContent .resInfo textarea{width: 100%; margin-top: 8px; margin-left: 10px;}
}

/* 예약정보 */
.bookingTable{min-width: 550px;}
.bookingTable tr td{padding: 6px 0; border-bottom: 1px solid #e8e8e8;}
.bookingTable tr td:nth-of-type(1){padding-left: 28px; position: relative; color: #222222; font-family: NotoSansM, sans-serif;}
.bookingTable tr td:nth-of-type(1)::after{display: block; content: ''; width: 3px; height: 3px; position: absolute; left: 14px; top: 16px;}
.bookingTable tr td:nth-of-type(2){text-align: right; padding-right: 30px;}
.bookingTable tr td:nth-of-type(2).state1{color: #010101;}
.bookingTable tr td:nth-of-type(2).state2{color: #555555;}
@media screen and (max-width:767px){
    .bookingTable{min-width: 0;}
    .bookingTable tr td:nth-of-type(1){padding-left: 12px;}
    .bookingTable tr td:nth-of-type(1)::after{left: 4px;}
    .bookingTable tr td:nth-of-type(2){padding-right: 8px;}
}


/* 예약신청 */
.resInfoTable .popupContent{border-radius: 0;}
.resInfoTable{width: 600px;}
.selectBookingTimeW{padding: 24px 0 0 0;}
.selectBookingTime{margin-bottom: 30px; text-align: center; color: #444; font-size: 20px;}

.selectBookingTime span span{font-size: 20px; font-family: RobotoM,sans-serif; margin: 0 4px;}
.selectBookingTime span span{color: #4d2bf4;}

.timeSelect{overflow-x: scroll;margin-bottom: 20px; background: #edf0f6; border-radius: 20px; padding: 12px 16px 20px; box-sizing: border-box;}
.timeSelect > div {width: auto; white-space: nowrap;}
.timeSelect > div > div{display: inline-block; margin-right: 12px;}
.timeSelect .hour{color: #262626; font-size: 14px;}
.timeSelect ul li{display: inline-block; padding-top: 12px; }
.timeSelect ul li a{display: block; width: 18px; height: 18px; border-radius: 3px; text-indent: -9999px; position: relative;}
.timeSelect ul li.select a::after{display: block; content: ''; width: 7px; height: 7px; position: absolute; left: 4px; top: -11px; background: url(../../../image/standard/ico/selectTime.png) no-repeat center;}
.desTxt p{color: #444; padding-left: 8px;}
@media screen and (max-width:767px){
    .resInfoTable{width: 95%;}
    .timeSelect{width: 100%;}
    .selectBookingTime > span{display: block;}
    .selectBookingTimeW .legend {text-align: left;}
    .selectBookingTimeW .legend li {margin:4px 0}
    .selectBookingTimeW .legend li:not(:last-of-type){margin-right: 12px;}
}

/* popup2 */
.popupHeader{background: #154d7b; padding: 40px; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.popupHeader p{color: #ffffff; font-size: 16px;}
.popupHeader select{background: none; border: none; padding-right: 28px; color: #ffffff; font-size: 25px; font-family: NotoSansM,sans-serif; background: url(../../../image/standard/ico/selectArrow4.png) no-repeat right center;}
.popupHeader select option{color: #000;}
.popupContent2{background: #f6f6f6; padding: 30px 32px 70px; height: 65vh; overflow-y: auto;}
@media screen and (max-width:1200px){
    .popupHeader{padding: 30px;}
    .popupContent2{padding: 30px 24px 70px;}
}
@media screen and (max-width:900px){
    .popupHeader{display: block; padding:30px 20px;}
    .popupHeader select{margin: 12px 0; font-size: 22px;}
    .popupContent2{padding: 24px 20px 70px;}
}
@media screen and (max-width:767px){
    .popupContent2{height: 55vh;}
}

/* 좌석 그래프 보기 */
.graphInfo{margin-bottom: 70px; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.graphInfo .totalStatus ul li{display: inline-block; margin-right: 28px; color: #333;}
.graphInfo .totalStatus ul li span{display: inline-block; margin-left: 4px; font-size: 28px; font-family: RobotoB,sans-serif;}
.graphInfo .totalStatus ul li.tot span{color: #232323;}
.graphInfo .totalStatus ul li.use span{color: #e33614;}
.graphInfo .totalStatus ul li.able span{color: #4d2bf4;}
.graphInfo .legend{text-align: right; margin-bottom: 0;}

.viewTab{position: relative; }
.viewTab .tab1{height: 730px;}
.viewTab .tab1 > li{display: inline-block; margin-left: 8px;}
.viewTab .tab1 > li.on > a{color: #fff; border: 1px solid #4d2bf4;background: #4d2bf4;}
.viewTab .tab1 > li > a{display: inline-block; color: #737373; background: #ffffff; font-size: 16px; text-align: center; min-width: 140px; border: 1px solid #d7d7d7; height: 43px; line-height: 43px; border-radius: 25px; box-sizing: border-box;}
.viewTab .tab1 > li > div{display: none;}
.viewTab .tab1 > li.on > div{display: block;}

.selectTimeInfo{position: absolute; right: 0; top: 15px;}
.selectTimeInfo p{display: inline-block; color:#444444; margin-left: 32px;}
.selectTimeInfo p span{display: inline-block; margin-left: 4px; color: #000000; font-size: 18px; font-family: RobotoM, sans-serif;}
.selectTimeW{position: absolute; right: 0; top: 0;}
.selectTimeW form{display: inline-block; vertical-align: middle;}

.selectBoxTimeBook label{margin-right: 12px; color: #333333; font-size: 16px; font-family: NotoSansM,sans-serif;}
.selectBoxTimeBook select{margin-right: 12px;}
.selTime{margin-left: 36px; color: #444444; display: inline-block; vertical-align: middle}
.selTime span{margin-left: 8px; color: #000; font-family: RobotoM, sans-serif; font-size: 18px; }

.seatGraphW{margin-top: 16px; height: 670px; position: absolute; width: 100%;}
.popupContentHeader{background: #5c5c5c; border-radius: 20px 20px 0 0;  position: relative;}
.tab2{padding-left: 32px;}
.tab2 > li{display: inline-block;}
.tab2 > li > a{display: block; font-size: 16px; padding: 20px 24px; color: #b8b8b8; font-family: NotoSansM,sans-serif;}
.tab2 > li.on > a{color: #fff; border-bottom: 3px solid #ffffff;}
.tab2 > li > div{display: none;}
.tab2 > li.on > div{display: block;}

.seatGraphW .stickyTable{position: absolute; left: 0; top: 67px; table-layout: fixed; height: 600px; width: 100%; background: #f6f6f6;}
.seatGraphW .stickyTable table{width: auto; white-space: nowrap;}
.seatGraphW .stickyTable thead tr th{color: #262626;font-size: 13px; padding: 10px 5px; background: #e0e0e0 !important; text-align: left; outline: none;} 
.seatGraphW .stickyTable thead tr th:first-of-type{padding: 0 60px;}
.seatGraphW .stickyTable tbody tr th{outline: none; vertical-align: middle;}
.seatGraphW .stickyTable tbody tr td{padding: 17px 8px;}
.seatGraphW .stickyTable tbody tr td:nth-of-type(2n){background: #fff;}
.seatGraphW .stickyTable tbody tr td a{display: inline-block; vertical-align: middle; text-indent: -9999px; width: 18px; height: 18px; border-radius: 3px; box-sizing: border-box;}
@media screen and (max-width:1200px){
    .graphInfo{display: block; margin-bottom: 40px;}
    .graphInfo .legend{margin-top: 20px; text-align: left;}
    .viewTab{display: block;}
    .selectTimeInfo p{margin-left: 16px;}
}
@media screen and (max-width:900px){
    .graphInfo .totalStatus ul li{margin-right: 12px;}  
    .tab2{padding-left: 24px;}  
    .tab2 > li > a{padding: 20px 12px;}

    .seatGraphW{margin-top: 70px;}
    .selectTimeInfo{left: 0; top: 55px; right: inherit;}
}
@media screen and (max-width:500px){
    .viewTab .tab1 > li{margin-left: 0;}
    .viewTab .tab1 > li > a{min-width: 120px;}
    .selectTimeInfo p{margin-top: 0; margin-left: 0;}
    .selectTimeInfo p:first-of-type{margin-right: 12px;}
}

/* 배치도 보기 */
.seatImageW{position: absolute; left: 0; width: 100%; background: #fff; border-radius: 20px; padding: 50px 0 0 28px; box-sizing: border-box; margin-top: 16px;}
.seatImageTable{height: 520px; overflow: auto;}
.seatImageTable table{width: auto;}
.seatImageTable tr td {vertical-align: middle;}
.seatImageTable tr td .empty{width: 50px; height: 50px; display: block;}
.seatImageTable tr td a{margin: 2px; display: block; width: 50px; height: 50px; line-height: 50px; border-radius: 10px; text-align: center; position: relative; z-index: 1;}
.seatImageTable tr td a:hover {z-index: 2;}
.seatImageTable tr td a .num{color: #313131; font-size: 12px; font-family: Roboto,sans-serif; line-height: 50px;}
.seatImageTable tr td a .time{position: absolute; background: #ddf5ff; height: 20px; line-height: 20px; border: 1px solid #c6def8; left: 50%; top: 55px; transform: translateX(-50%); color: #444444;font-size: 12px; font-family: RobotoM,sans-serif; z-index: 2; border-radius: 3px; box-sizing: border-box;padding: 0 7px; display: block; opacity: 0; visibility: hidden;}
.seatImageTable tr td a .time::after{display: block; content: ''; width: 14px; height: 10px; background: url(../../../image/standard/ico/timeArrow.png) no-repeat center top; position: absolute; top: -10px; left: 50%; transform: translateX(-50%);}
.seatImageTable tr td a:hover .time{top: 45px; transition: 0.3s; visibility: visible; opacity: 1;}
.imgViewerBtn{position: absolute; right: 60px; bottom: 60px; display: inline-block; border-radius: 25px; color: #fff !important; text-align: center; background: #3c3c3c; height: 40px; line-height: 40px; padding: 0 28px;}
@media screen and (max-width:900px){
    .viewTab .tab1{height: 770px;}
    .selectTimeW{left: 8px; right: inherit; top: 50px; display: block;}
    .seatImageW{margin-top: 90px;}
    .selTime{margin-left: 0; margin-top: 0px;} 
}

/* 입력예시 */
.exInputBox{margin-bottom: 12px; border: 1px solid #dddddd; border-radius: 3px; padding: 24px 20px; font-size: 16px; line-height: 24px;}
.spacing{display: inline-block; width: 11px; height: 11px; border: 1px solid #ed1c24; box-sizing: border-box; margin: 0 2px; text-indent: -9999px; vertical-align: middle;}
.exInputCaution{color:#333333;}


/* legend */
.legendW ul{display: none;}
.legendW ul.on{display: block;}
.legendW .legend{text-align: center;margin-bottom: 12px;}
.legend{text-align: center;margin-bottom: 12px;}
.legendW .legend li{display: inline-block;}
.legend li{display: inline-block;}
.legendW .legend li:not(:last-of-type){margin-right: 12px;}
.legend li:not(:last-of-type){margin-right: 12px;}
.legendW .legend span{display: inline-block; text-align: left; position: relative; color: #444444; font-size: 14px;vertical-align: middle;}
.legendOption1 a{background: url(../../../image/standard/ico/legend0.png) no-repeat left center; background-size: cover;}
td .legendOption1{background: url(../../../image/standard/ico/legend0.png) no-repeat left center; background-size: 18px;}


.legendOption2 a, td .legendOption2 {border: 1px solid #aeaeae; background: #dedede;}
.legendOption3 a, td .legendOption3 {background: url(../../../image/standard/ico/legend05.png) no-repeat center;}
.legendOption4 a, td .legendOption4 {background: url(../../../image/standard/ico/legend06.png) no-repeat center;}
.legendOption5 a, td .legendOption5 {background: url(../../../image/standard/ico/legend07.png) no-repeat center;}
.legendOption6 a, td .legendOption6 {background: url(../../../image/standard/ico/legend08.png) no-repeat center;}

/* 이미지 접근성 */
.legend .legendOption1 span.icon {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend0.png) no-repeat left center;  background-size: cover;text-indent: -9999px;}
.legend .legendOption2 span.icon {display:inline-block;width:20px;height:20px;border: 1px solid #aeaeae; background: #dedede;text-indent: -9999px;border-radius: 3px;}
.legend .legendOption3 span.icon {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend05.png) no-repeat center;text-indent: -9999px;}
.legend .legendOption4 span.icon {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend06.png) no-repeat center;text-indent: -9999px;}
.legend .legendOption5 span.icon {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend07.png) no-repeat center;text-indent: -9999px;}
.legend .legendOption6 span.icon {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend08.png) no-repeat center;text-indent: -9999px;}

.legend2 .icon {text-indent: -9999px;}
.legend2 .legendImage1 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend01.png) no-repeat left center; background-size: cover;}
.legend2 .legendImage2 .icon  {display:inline-block;width:20px;height:20px;background:#4d2bf4;border-radius: 3px;}
.legend2 .legendImage3 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend02.png) no-repeat left center; background-size: cover;image-rendering: -webkit-optimize-contrast;}
.legend2 .legendImage4 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend09.png) no-repeat center center;}
.legend2 .legendImage5 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend10.png) no-repeat center center;}
.legend2 .legendImage6 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend03.png);background-size:cover;image-rendering: -webkit-optimize-contrast}
.legend2 .legendImage7 .icon  {display:inline-block;width:20px;height:20px;background: url(../../../image/standard/ico/legend04.png);background-size:cover;image-rendering: -webkit-optimize-contrast}


/* table setting */
.seatImageTable .legendImage1 .bg {display:inline-block;position:absolute;top:0;left:0;width:50px;height:50px;background: url(../../../image/standard/ico/legend01.png) no-repeat;text-indent: -9999px;z-index: -1;}
.seatImageTable .available .bg {display:inline-block;position:absolute;top:0;left:0;width:50px;height:50px;background:#4d2bf4;border-radius: 10px;text-indent: -9999px;z-index: -1;}
.seatImageTable .available .num {color:#fff}

.seatImageTable .use .bg {display:inline-block;position:absolute;top:0;left:0;width:50px;height:50px;background: url(../../../image/standard/ico/legend02.png) no-repeat;text-indent: -9999px;z-index: -1;}
.seatImageTable .use .num {color:#fff}

.seatImageTable .reserved .bg {display:inline-block;position:absolute;top:0;left:0;width:50px;height:50px;background: url(../../../image/standard/ico/legend03.png) no-repeat;text-indent: -9999px;z-index: -1;}
.seatImageTable .reserved .num {color:#fff}

.seatImageTable .inspect .bg {display:inline-block;position:absolute;top:0;left:0;width:50px;height:50px;background: url(../../../image/standard/ico/legend04.png) no-repeat;text-indent: -9999px;z-index: -1;}

/* caseInfo */
.caseInfo {position:absolute;bottom:2px;left:0;width:100%;height:16px;text-align:center}
.caseInfo .peaky {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend09.png) no-repeat center center;text-indent: -9999px;}
.caseInfo .labtop {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend10.png) no-repeat center center;text-indent: -9999px;}

.available .caseInfo .peaky {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend09_1.png) no-repeat center center;text-indent: -9999px;}
.available .caseInfo .labtop {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend10_1.png) no-repeat center center;text-indent: -9999px;}
.reserved .caseInfo .peaky {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend09_1.png) no-repeat center center;text-indent: -9999px;}
.reserved .caseInfo .labtop {display:inline-block;width:16px;height:16px;background:url(../../../image/standard/ico/legend10_1.png) no-repeat center center;text-indent: -9999px;}

@media screen and (max-width:800px){
    .legendW .legend li{width: 30%; margin-top: 4px;}
    .legendW .legend li:not(:last-of-type){margin-right: 4px;}
}
@media screen and (max-width:500px){
    .legendW .legend li{width: 40%; margin-top: 4px;}
    .legendW .legend li:not(:last-of-type){margin-right: 4px;}
}
/* legend */

/* qr팝업 */
.bookQrCode .popupContent {padding-bottom:32px;text-align: center;}