@charset "utf-8";

/* -------------------- */
/* layOut */
.guideContent{margin-bottom: 50px;}
/* layOut */

/* point */
.caution1{color: #b22121 !important;}
.caution2{font-size: 14px;}
/* point */

/* Guide Box */
.guideBox1{padding: 24px 30px 30px; margin-bottom: 50px; border: 3px solid #e1e6e8; box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05); box-sizing: border-box;}
.guideBox2{margin-top: 20px; padding: 15px 60px; background: #f2f5f8;}

.boxTit{margin-bottom: 12px; color: #414141; font-family:NotoSansM, sans-serif; font-size: 18px;}
/* Guide Box */

/* Step */
.step{margin-top: 20px; padding: 25px 60px; border: 1px solid #e6e6e6; border-top: 1px solid #111111;}
.step ul li{display: inline-block; color: #555555; font-family:NotoSansM, sans-serif;}
.step ul li:not(:last-of-type){padding-right: 130px; position: relative;}
.step ul li:not(:last-of-type)::after{display: block; content: ''; width: 10px; height: 12px; background: url(../../../image/standard/guide/arrow1.png) no-repeat center; position: absolute; right: 60px; top: 5px;}
/* Step */

/* Guide List */
.guideList0{margin-top: 25px; color: #555555; line-height: 25px;}

.guideList1 > li{margin-bottom: 4px; padding-left: 20px; position: relative;}
.subTitList > li{margin-bottom: 20px;}
.subTitList > li .subTit1{margin-bottom: 10px !important;}
.guideList1 > li:last-of-type{margin-bottom: 0;}
.guideList1 > li::after{display: block; content: ''; width: 4px; height: 4px; border-radius: 50%; position: absolute; left: 5px; top: 10px;}
.guideList1 > li > p{display: inline-block; color: #6f7581;}

.guideList2 > li{padding-left: 15px; position: relative; }
.guideList2 > li::after{display: block; content: ''; width: 4px; height: 1px; position: absolute; left: 0; top: 16px; background: #383838;}
.guideList2 > li > p{color: #383838; font-family:NotoSansM, sans-serif;display: inline-block;}

.guideList3 > li{padding-left: 7px; position: relative; text-align: left;}
.guideList3 > li::after{display: block; content: ''; width: 4px; height: 1px; position: absolute; left: 0; top: 10px; background: #6b6b6b;}
.guideList3 > li > p{color: #6b6b6b; display: inline-block;}
/* Guide List */


/* Title */
.guideTit1{position: relative; padding-left: 20px; margin-bottom: 20px; font-family:NotoSansB, sans-serif; font-size: 23px;}
.guideTit1::after{display: block; content: ''; width: 6px; height: 11px; -webkit-transform: skewX(-45deg); transform: skewX(-45deg); position: absolute; left: 4px; top: 0;}
.guideTit3{padding-left: 40px; font-size: 16px; font-family: NotoSansM,sans-serif; background: url(../../../image/standard/guide/inquire.png) no-repeat left center;}
.guideTit3 span{font-size: 16px; font-family: NotoSansM,sans-serif;}
.guideTit3 span{color: #016952;}

.subTit{margin-top: 60px;}
.subTit1{color: #282828; margin-bottom: 20px;  font-size: 17px; font-family:NotoSansM, sans-serif;}
.subTit2{color: #282828; margin-bottom: 10px;  font-size: 15px; font-family:NotoSansM, sans-serif;}
.subTit3{margin-top: 30px;}
.subTitBlock{display: block;}
/* Title */

/* goto */
.btn{display: inline-block; padding: 5px 15px; border-radius: 15px; margin: 0 10px;}
.goto1 span{padding-right: 20px; color: #ffffff; background: url(../../../image/standard/guide/goto1.png) no-repeat right top 5px;}
.download1 span{padding-right: 20px; color: #fff; background: url(../../../image/standard/guide/download.png) no-repeat right top 3px;}
/* goto */

/* table */
.guideTable1{margin: 20px 0 25px;}
.guideTable1 .tableScroll{margin-bottom: 25px;}
.guideTable1 table{border-collapse: collapse; width: 100%; border-bottom: 1px solid #cdd2d6; position: relative; table-layout: fixed; border-right: 2px solid #fff; border-top: 2px solid #212121;}
.guideTable1 table thead tr th{padding: 15px 0; color: #2b2b2b; font-family:NotoSansM, sans-serif; font-size: 15px; background: #f7f7f7; border-right: 1px solid #cdd2d6; vertical-align: middle;text-align:center}
.guideTable1 table thead tr:nth-of-type(n+1) th{border-top: 1px solid #cdd2d6;}
.guideTable1 table tbody tr td{vertical-align: middle; padding: 11px 25px; font-size: 15px; text-align: center; border-right: 1px solid #cdd2d6; border-top: 1px solid #cdd2d6; color: #6b6b6b;}
.guideTable1 table tbody tr td.vTop{vertical-align: top; padding: 35px 25px;}
.guideTable1 table tbody tr td.colColor{color: #2b2b2b; font-size: 15px; font-family:NotoSansM, sans-serif; background-color: #eee;}
.guideTable1 table tbody tr th.colColor{vertical-align: middle; padding: 11px 25px; font-size: 15px; text-align: center; border-right: 1px solid #cdd2d6; border-top: 1px solid #cdd2d6;color: #2b2b2b; font-size: 15px; font-family:NotoSansM, sans-serif; background-color: #eee;}
.guideTable1 table tbody tr td .tableCaution{margin: 50px 0 120px 0; color: #b22121;}
/* table */

/* mobile */
@media screen and (max-width:767px){
    .guideContent{margin-top: 40px;}
    .guideBox1{padding: 15px 20px;}
    .guideBox2{padding: 15px 20px;}
    .step{padding: 20px 30px;}
    .step ul li{display: block; text-align: center;}
    .step ul li:not(:last-of-type){padding-right: 0; padding-bottom: 30px; position: relative;}
    .step ul li:not(:last-of-type)::after{display: block; content: ''; width: 10px; height: 12px; background: url(../../../image/standard/guide/arrow1.png) no-repeat center; position: absolute; right: calc(50% - 6px); top: 30px; transform: rotate(90deg);}

    .guideList1 > li.subTit{margin-top: 40px;}
    .guideTable1{margin: 15px 0;}
    .guideTable1 table{margin-bottom: 0;}
    .guideTable1 table tbody tr td{padding: 15px !important;}
    .tableScroll{overflow:auto}
    .tableScroll table{min-width:767px;}
    .guideList2 > li > p{display: block;}
    .guideList2 > li::after{top: 10px;}
    .btn{margin-left: 0; margin-top: 5px;}
}

/* history */
.historyTab{display: table; table-layout: fixed; width: 100%;margin-bottom:50px}
.historyTab li{display: table-cell;}
.historyTab li a{display: block; width: 100%; line-height: 60px; height: 60px; box-sizing: border-box; text-align: center; color: #555555; font-size: 18px; font-family:Roboto, sans-serif; border: 1px solid #e0e0e0;}
.historyTab li a.on{ color: #fff;}
.historyTab li:not(:first-of-type) a{border-left: none;}


.historyContent{display: none; margin-top: 50px;}
.historyContent:first-of-type{display: block;}
.historyContent .year{position: relative; padding-bottom: 10px; font-size: 30px; font-family:RobotoB, sans-serif; border-bottom: 1px solid #dddddd;}
.historyContent .year::after{display: block; content: ''; width: 106px; height: 3px; position: absolute; left: 0; bottom: 0;}
.historyContent ul{margin-top: 30px;}
.historyContent ul li{margin-top: 15px;}
.historyContent ul li .date{float: left; margin-top: 4px; width: 110px; color: #262626; font-family:RobotoM, sans-serif; font-size: 16px;}
.historyContent ul li p{padding-left: 110px; color: #555555; font-size: 16px;}

@media screen and (max-width:767px){
    .historyTab{border: 1px solid #e0e0e0; border-bottom: none; border-right: none;margin-bottom:30px}
    .historyTab::after{display: block; content: ''; clear: both;}
    .historyTab li{display: block; float: left; width: 50%;}
    .historyTab li a{border: none; border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0;}
    .historyContent{margin-top: 30px;}
    .historyContent ul li{margin-top: 20px;}
    .historyContent ul li .date{float: none; margin-top: 0;}
    .historyContent ul li p{padding-left: 0; margin-top: 4px;}
}

/* history */

/* intro */
.introContent{position: relative; margin-top: 100px;}
.introTxt{padding-left: 60px; width: 55%; box-sizing: border-box;}
.introTxt1{margin-bottom: 30px; color: #000; font-size: 26px; font-family: NotoSansM,sans-serif;}
.introTxt2{margin-bottom: 30px; color: #6c6c6c; font-size: 17px;}
.introTxt3{margin-bottom: 50px; color: #000; font-size: 17px;}
.introBox{background: #f8f8f8; padding: 50px 60px; margin-bottom: 40px; box-sizing: border-box;}
.introBox ul { width: 55%;}
.introBox ul li{color: #555555; font-size: 16px;}
.introBox ul li:not(:last-of-type){margin-bottom: 30px;}
.imgCaption{text-align: right; color: #555555; font-size: 16px; font-family: NotoSansM,sans-serif;}
.introImgW{position: absolute; right: 95px; top: 90px;}
.introImgW::after{display: block; content: ''; z-index: -1; width: 272px; height: 272px; background: url(../../../image/standard/guide/introImg2.png) no-repeat; position: absolute; right: -90px; top: -90px;}
@media screen and (max-width:1024px){
    .introContent{margin-top: 0px;}
    .introTxt{padding-left: 0px; width: 100%;}
    .introTxt3{margin-bottom: 30px;}
    .introBox{padding: 40px 30px;}
    .introBox ul{width: 100%;}
    .introImgW{position: relative; right: inherit; top: inherit; width: 346px; margin: 0 auto;}
    .imgCaption{margin-top: 30px; text-align: center;}
}
@media screen and (max-width:767px){
    .introBox{padding: 30px 20px;}
    .introImgW::after{right: 0;}
}
@media screen and (max-width:380px){
    .introImgW{width: 100%;}
    .introImgW img{width: 100%;}
}
/* intro */

/* 개인정보처리방침 */
.privacyTitle{margin-bottom: 30px; color: #2c2c2c; font-size: 27px; font-family: NotoSansM; text-align: center;}
.privacyTop{margin-bottom: 25px; font-size: 18px;}
.ruleTitle1{margin-bottom: 30px; color: #2c2c2c; font-size: 27px; font-family: NotoSansM; text-align: center;}
.ruleTop{margin-bottom: 25px; font-size: 18px; text-align: center;}
.update li{width: 250px; margin: 0 auto !important; color: #969696 !important; line-height: 24px !important;}
.update span{display: inline-block; width: 55px; margin-right: 15px; text-align: left;}
.ruleTitle2{margin-bottom: 25px; color: #2c2c2c; font-size: 20px; font-family: NotoSansM; text-align: center;}
.ruleSubTitle{margin-bottom: 20px; padding: 10px 20px; color: #1e1e1e; font-size: 17px; background-color: #f2f2f2;}
.libRule .guideContent > ul > li{margin-bottom: 27px; }
.libRule .guideContent > ul li{line-height: 22px; color: #595959;}
.libRule .guideContent > ul > li > ul > li:not(:first-of-type){margin-top: 5px;}
.guideContent ul.depth{padding-left: 14px;}
.guideContent ul.depth li{margin-top: 7px;}

/* 이용문의 */
.inquire{border: 1px solid #dbdee1; padding: 20px 25px; box-sizing: border-box;}
.inquire h4{display: inline-block;}
.inquire ul{display: inline-block; margin-left: 60px;}
.inquire ul li{display: inline-block; color: #383838; font-size: 15px; font-family: Roboto,sans-serif;}
.inquire ul li .inquireTit{display: inline-block; margin-right: 10px; color: #000; font-family: NotoSansM,sans-serif;}
.inquire ul li a{color: #383838; font-size: 15px; font-family: Roboto,sans-serif;}
.inquire ul li:not(:last-of-type){padding-right: 40px; position: relative;}
.inquire ul li:not(:last-of-type)::after{display: block; content: ''; width: 1px; height: 15px; background: #cccfd2; position: absolute; right: 18px; top: 4px;}
@media screen and (max-width:1025px){
    .inquire h4{display: block;}
    .inquire ul{display: block; margin: 20px 0 0 0;}
}
@media screen and (max-width:767px){
    .inquire{padding: 15px 20px;}
    .inquire ul li{display: block;}
    .inquire ul li:not(:last-of-type){padding-right: 0; margin-bottom: 5px;}
    .inquire ul li:not(:last-of-type)::after{display: none;}
}

/* 타기관복사신청 */
@media screen and (max-width:767px){
    .step.applyStep ul li:not(:last-of-type)::after {top:auto;bottom:7px;transform: none;transform: rotate(90deg);}
}


/* smallIntro */
.smallIntro .smallIntroTit p {position:relative;color:#000;padding-bottom:24px;font-size: 17px;font-family: NotoSans,sans-serif;line-height: 26px;letter-spacing: -0.025em;}
.smallIntro .smallIntroTit p::after {content:"";display:block;position:absolute;bottom:0;left:0;width:40px;height:2px;background:#394c65}
.smallIntro .smallIntroTit p>span {display:block;margin-bottom:8px;color:#000;font-size: 26px;font-family: NotoSans,sans-serif;}
.smallIntro .smallIntroTit p strong {font-family: NotoSansM,sans-serif;font-size: 26px;}
.smallIntro .smallIntroBox {position:relative;margin-top:40px;padding-bottom:188px;box-shadow: 0 32px 32px -32px rgba(0,0,0,0.05)}
.smallIntro .smallIntroBox::after {content:"";display:block;position:absolute;bottom:-37px;right:0;width:604px;height:152px;background:url(../../../image/standard/guide/introTxt.png) no-repeat}
.smallIntro .smallIntroBox>ul>li {color:#898989;font-size: 17px;letter-spacing: -0.025em;line-height: 25px;}
.smallIntro .smallIntroBox>ul>li:not(:last-child) {margin-bottom:26px}
.imgCaption2{margin-top:50px;text-align: right; color: #555555; font-size: 16px; letter-spacing: -0.05em;}

@media screen and (max-width:1024px){
    .smallIntro .smallIntroTit p br {display:none}
    .imgCaption2 {margin-top:30px;text-align: center;}
}
@media screen and (max-width:767px){
    .smallIntro .smallIntroTit p {font-size: 15px;line-height: 23px;padding-bottom: 16px;}
    .smallIntro .smallIntroTit p>span {font-size: 18px;display:inline}
    .smallIntro .smallIntroTit p strong {font-size: 18px;}
    .smallIntro .smallIntroBox {margin-top: 22px;padding-bottom:80px;}
    .smallIntro .smallIntroBox>ul>li {font-size:15px;line-height: 21px;}
    .smallIntro .smallIntroBox>ul>li:not(:last-child) {margin-bottom:12px}
    .smallIntro .smallIntroBox::after {width:280px;height:90px;background-size:contain}    
}

/* sideImgCase */
.sideImgCase {position:relative}
.sideImgCase .sideImg {position:absolute;top:0;left:0}
.sideImgCase .sideImg img {border:1px solid #e3e3e3}
.sideImgCase .smallIntroTit {padding-left:210px}
.sideImgCase .smallIntroBox {padding-left:210px;padding-bottom:158px}
.smallIntro.sideImgCase .smallIntroTit p {padding-bottom:62px;font-size:24px;letter-spacing: -0.05em;line-height: 33px;}
.smallIntro.sideImgCase .smallIntroTit p strong {font-size: 34px;}
.smallIntro.sideImgCase .smallIntroTit p>span {margin-bottom:20px;font-size:34px}
@media screen and (max-width:767px) {
    .sideImgCase .sideImg {display:none}
    .sideImgCase .smallIntroTit {padding-left:0}
    .sideImgCase .smallIntroBox {padding-left:0}
    .smallIntro.sideImgCase .smallIntroTit p {font-size:26ox}
    .smallIntro.sideImgCase .smallIntroTit p strong {font-size:26px}
}
/* libExplain */
.explainArea1 {padding-bottom:36px;position:relative}
.explainArea1::before {content:"";display:block;position:absolute;bottom:0;left:0;width:40px;height:2px;background:#394c65}
.explainArea1::after {content:"";display:block;clear:both}
.explainArea1 .libImg {float:left}
.explainArea1 .libTxt {margin-left:460px}
.explainArea1 .libTxt p {font-size:24px;font-family: NotoSansL,sans-serif;line-height: 33px;letter-spacing: -0.05em;}
.explainArea1 .libTxt p>span {display:block;margin-bottom:20px;font-size:36px;letter-spacing: -0.05em;}
.explainArea1 .libTxt p strong {font-family: NotoSansM,sans-serif;font-size:36px;letter-spacing: -0.05em;}

.explainArea2 {margin-top:36px}
.explainArea2 li {color:#898989;font-size: 17px;letter-spacing: -0.025em;line-height: 25px;}
.explainArea2 li:not(:last-child) {margin-bottom:26px}

@media screen and (max-width:1024px) {
    .explainArea1 .libImg {float:none;margin-bottom:40px;text-align: center;}
    .explainArea1 .libImg img {max-width:380px;width:100%;height:auto}
    .explainArea1 .libTxt {margin-left:0}
}
@media screen and (max-width:767px) {
    .explainArea1 .libTxt p {font-size:24px;line-height: 32px;}
    .explainArea1 .libTxt p>span {font-size:26px;display:inline}
    .explainArea1 .libTxt p strong {font-size:26px}
    .explainArea2 li {font-size:15px;line-height: 21px;}
    .explainArea2 li:not(:last-child) {margin-bottom:12px}
}

/* floor */
.floorImgArea {margin-bottom:32px;padding:18px 6px 0 6px;border:1px solid #dbdee1;box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.1);}
.floorImgArea::after {content:"";display:block;clear:both}
.floorImgArea .imgBox {float:left;width:25%;padding:0 12px;margin-bottom:18px;box-sizing: border-box;}
.floorImgArea img {width:100%;height:auto}

.floor .guideList1 > li > p {color:#555}
.floor .guideList1 > li > p strong {color:#282828}

@media screen and (max-width:1024px) {
    .floorImgArea .imgBox {width:50%}
}
@media screen and (max-width:450px) {
    .floorImgArea .imgBox {width:100%}
}

/* videoGuide */
.videoGuide .videoList>ul::after {content:"";display:block;clear:both}
.videoGuide .videoList>ul>li {float:left;width:188px;margin:0 50px 50px 0;}
.videoGuide .videoList>ul>li>div {padding:16px 16px 14px 16px;border:1px solid #dbdee1;text-align: center;}
.videoGuide .videoList>ul>li>div .mediaArea {width:100%;max-width:154px;height:auto;max-height:97px;margin:0 auto;overflow: hidden;}
.videoGuide .videoList>ul>li>div .mediaArea img {width:100%;height:auto}
.videoGuide .videoList>ul>li>div .tit {color:#2b2b2b;margin-top:12px;letter-spacing: -0.025em;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.videoGuide .videoList>ul>li>div .play {display:inline-block;margin-top:6px;padding:1px 18px 1px 7px;color:#fff;border-radius: 5px;background:url(../../../image/standard/guide/playIco.png) no-repeat right 8px center #bfbfbf;font-family: NotoSansM,sans-serif;font-size:12px;letter-spacing: 0.02em;}

@media screen and (min-width:1025px) and (max-width:1255px) {
    .videoGuide .videoList>ul>li {width:calc(20% - 40px)}
    .videoGuide .videoList>ul>li:nth-of-type(5n) {margin-right:0}
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .videoGuide .videoList>ul>li {width:calc(25% - 18px);margin:0 24px 24px 0}
    .videoGuide .videoList>ul>li:nth-of-type(4n) {margin-right:0}
}
@media screen and (min-width:501px) and (max-width:767px) {
    .videoGuide .videoList>ul>li {width:calc(50% - 18px);margin:0 24px 24px 0}
    .videoGuide .videoList>ul>li:nth-of-type(2n) {margin-right:0}
    .videoGuide .videoList>ul>li>div .mediaArea {max-width:none;max-height:none}
    .videoGuide .videoList>ul>li>div .tit {font-size:13px}
}
@media screen and (max-width:500px) {
    .videoGuide .videoList>ul>li {width:100%}
    .videoGuide .videoList>ul>li>div .mediaArea {max-width:none;max-height:none}
    .videoGuide .videoList>ul>li>div .tit {font-size:13px}
}

/* 조직도 */
.organizationW {padding-bottom:40px;overflow-x: auto;}
.organization {margin-top:80px;min-width:1240px}
.libHead {position:relative;display:table;margin:0 auto 120px auto}
.libHead::after {content:"";display:block;position:absolute;bottom:-60px;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);height:60px;width:1px;background:#c7c7c7;z-index: -1;}
.organization .name {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;-webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center;background:#555;color:#fff;width:120px;height:72px;word-break: keep-all;border-radius: 15px 15px 0 0;}
.organization .num {display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: center;-webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center;background:#f5f5f5;color:#333;width:120px;height:52px;border-radius: 0 0 15px 15px;}
.organization .libMem>ul {position:relative;display:table;margin:0 auto}
.organization .libMem>ul::before {content:"";display:block;position:absolute;top:-60px;left:60px;width:calc(100% - 120px);height:1px;background:#c7c7c7;}
.organization .libMem>ul::after {content:"";display:block;clear:both}
.organization .libMem>ul>li {float:left;position:relative}
.organization .libMem>ul>li:not(:last-child) {margin-right:20px}
.organization .libMem>ul>li::before {content:"";display:block;position:absolute;top:-60px;left:50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);width:1px;height:60px;background:#c7c7c7}

.guideBox1.donate .boxTit {font-size:17px}


/* dh 0531 style start------------- */
.organizationW.style2 .organization .name {border-radius: 0; padding: 0 10px; height: 45px;}
.organizationW.style2 .organization .libMem>ul::before {width: calc(100% - 139px); left: 69px;}
.organizationW.style3 {overflow: unset;}
.organizationW.style3 .organization .name {border-radius: 0; padding: 0 10px; height: 45px;}
.organizationW.style3 .organization .libMem>ul::before {width: calc(100% - 139px); left: 69px;}
.organizationW.style3 .organization {min-width: auto; width: 100%;}
@media screen and (max-width: 768px) {
.organizationW.style3  .libHead {width: 45%;}
.organizationW.style3 .organization .name {width: auto;}
.organizationW.style3 .organization .libMem>ul>li {width: 45%;}
.organizationW.style3 .organization .libMem>ul>li:not(:last-child) {margin-right: 5%;}
.organizationW.style3 .organization .libMem>ul {width: 100%; text-align: center;}
.organizationW.style3 .organization .libMem>ul>li {float: none; display: inline-block;}
.organizationW.style3 .organization .libMem>ul>li:nth-child(2n) {margin-right: 0;}
.organizationW.style3 .organization .libMem>ul>li:nth-child(n + 3) {margin-top: 15px;}
.organizationW.style3 .organization .libMem>ul>li:nth-child(n + 3)::before {top: -15px; height: 15px;}
.organizationW.style3 .organization .libMem>ul::before {width: 50%; left: 50%; transform: translateX(-50%);}
}

/* 오시는 길 */
.map {width: 1240px; height: 400px; background: #ddd;}
@media screen and (max-width:1280px) {
.map {width: 100%; height: 400px; background: #ddd;}
}
.flex {display: flex;}
.flex .fix {flex-shrink: 0;}

/* 층별안내 */
.floorW2 {display: inline-block; width: auto; padding: 10px; border: 1px solid #ddd; margin-bottom: 20px; box-sizing: border-box;}
.imgWd {width: 100%;}

@media screen and (max-width: 768px) {
.floorW2 img {width: 100%;}
.imgWd img {width: 100%;}
}

/* 0603 추가 css */
/* btnStyle */
.n8btnStyle1 {display:inline-block;width:104px; height:30px; background:#eeeeee; color:#000; font-size:14px; font-weight:normal; line-height:30px; text-align:center; text-decoration:none}
.applestW {margin: 8px 0;}
.applestW a{display: inline-block; vertical-align: middle;}
.qrW {position: relative;}
.qrbox {display: none; position: absolute; z-index: 2; top: 30px; right: 24px;}
.qrbox img {border: 1px solid #ddd;}
.qrclose {position: absolute; top: 0; right: 0;}

/* NA포인트 */
.score {position: relative; padding: 0 20px; color: #006951;}
.score:before {content: ''; width: 100%; height: 1px; background: #111; position: absolute; bottom: 0; left: 0;}


/* dh 0531 style END----------------*/

/* ms 0603 style end------------- */

/* 모바일 너비 100% */
@media screen and (max-width: 1024px){
    .wp100M{
        width: 100%;
    }
}
/* ms 0603 style start------------- */


/* 국방이용안내 추가 0704 */
.step.M1case ul li:not(:last-of-type) {padding-right:60px}
.step ul li:not(:last-of-type)::after {right:25px}
.font0 {font-size:0 !important}
.m1foorImg {width:100%;height:auto}
.m1foorImg.m13f {width:50%;display:inline-block}
.m1foorImg.m13f:first-child {float:left;width:55.6%}
.m1foorImg.m13f:not(:first-child) {width:44.4%}
.m1foorImg.m11f:not(:first-child) {width:50%;display:inline-block}
@media screen and (max-width: 767px){
    .faciltyImg {width:100%;height:auto}
    .step.M1case ul li:not(:last-of-type) {padding-right:0}
    .step ul li:not(:last-of-type)::after {top:auto;bottom:10px;right:calc(50% - 6px)}
}
