@charset "utf-8";

/* Font */
@font-face{
    font-family:NotoSansB;
    src:url(../../font/NotoSansKR-Bold.eot);
    src:local('※'), url(../../font/NotoSansKR-Bold.woff) format('woff');
}
@font-face{
    font-family:NotoSansM;
    src:url(../../font/NotoSansCJKkr-Medium.eot);
    src:local('※'), url(../../font/NotoSansCJKkr-Medium.woff) format('woff');
}
@font-face{
    font-family:NotoSans;
    src:url(../../font/NotoSansCJKkr-Regular.eot);
    src:local('※'), url(../../font/NotoSansCJKkr-Regular.woff) format('woff');
}
@font-face{
    font-family:NotoSansL;
    src:url(../../font/NotoSans-Light.eot);
    src:local('※'), url(../../font//NotoSans-Light.woff) format('woff');
}
@font-face{
    font-family:Roboto;
    src:url(../../font/Roboto-Regular.eot);
    src:local('※'), url(../../font/Roboto-Regular.woff) format('woff');
}
@font-face{
    font-family:RobotoM;
    src:url(../../font/Roboto-Medium.eot);
    src:local('※'), url(../../font/Roboto-Medium.woff) format('woff');
}
@font-face{
    font-family:RobotoB;
    src:url(../../font/Roboto-Bold.eot);
    src:local('※'), url(../../font/Roboto-Bold.woff) format('woff');
}

/* Layout */
#divWrapper{position: relative;}
*{font-family: Pretendard,sans-serif; font-size: 15px;}
option{font-family: Pretendard,sans-serif}

/* 상단고정 */
.header2.fixed{position: fixed; top: 0; left: 0; width: 100%; z-index: 198; background: #fff; box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;}
.header1.fixed{margin-bottom: 94px;}
.insideSearch.fixed{position: fixed; top: 0 !important;}

/* header1 */
.header1{border-bottom:1px solid #eaeaea}
.header1>div{height: 72px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;width:1400px;margin:0 auto}
.logo>a{color:#121212;font-size:26px;font-family: PretendardL,sans-serif;}
.logo>a>span{color:#121212;font-size:26px;font-family: PretendardB,sans-serif;}
.header1 .headerSrhForm{position:relative;width:400px;border-bottom:2px solid #080808}
.header1 .headerSrhForm input[type="text"]{width:100%;height:44px;padding:0 20px 0 14px;border:none;color:#717171;font-family: PretendardM,sans-serif;font-size:16px;letter-spacing: -0.025em;box-sizing: border-box;}
.header1 .headerSrhForm input[type="text"]::placeholder{color:#717171;font-family: PretendardM,sans-serif;font-size:16px;letter-spacing: -0.025em;}
.header1 .headerSrhForm input[type="submit"]{position:absolute;top:8px;right:10px;width:26px;height:26px;border:none;background:url(../../../image/standard/searchIco2.png) no-repeat;text-indent: -9999px;}
.header1 .mobileSrhBtn{display:none;}
.header1 .globalMenu > ul{position: relative;display:inline-block}
.header1 .globalMenu > ul > li{margin-left: 24px; vertical-align: middle;}
.header1 .globalMenu > ul > li:first-of-type{margin-left: 0;}
.header1 .globalMenu > ul > li a{color: #555;}
.header1 .globalMenu > ul > li{display: inline-block;}
.header1 .globalMenu > ul > li.login > a{color: #0d0c22;}
.header1 .globalMenu > ul > li.profile .myMenuBtn{position:relative;color: #fff !important;padding: 5px 20px; display: block; background: #080808; border-radius: 30px;font-size:16px;font-family: Pretendard,sans-serif;}
.header1 .globalMenu > ul > li.profile .totalCnt{position:absolute;top:0;right:-6px;display:block;width:18px;height:18px;background:#ff0d46;color:#fff;border-radius: 100%;text-align: center;line-height: 18px;font-size:12px} 
.header1 .globalMenu > ul > li.profile .myMenuBtn .newMyMenu{position:absolute;top:-6px;right:-6px;width:17px;height:17px;border-radius: 100%;line-height: 17px;background:#d10046;color:#fff;font-size:11px;font-family:Roboto,sans-serif;text-align: center;text-indent: 0;}
.header1 .globalMenu > ul > li.language{position:relative}
.header1 .globalMenu > ul > li.language>a{padding-right:18px;background:url(../../../image/standard/langBtn.png) no-repeat right top 9px;color:#0d0d0d;font-size:16px;}
.header1 .globalMenu > ul > li.language ul{display:none;position:absolute;top:24px;left:0;width:100%;padding:8px 12px;background:#fff;box-shadow: 2px 2px 4px rgba(0,0,0,0.2);box-sizing: border-box;z-index: 1;}
.gnbSearch .gnbSearchBtn{display:inline-block;width:24px;height:24px;margin-top:6px;background:url(../../../image/standard/gnbSearch.png) no-repeat;text-indent: -9999px;}

.header1 .globalMenu > ul > li.standardApply > a{color: #ca450a;}


/* header1 */
/* 요약정보 */
.myMenuArea{display: none; position: absolute; top: 38px; right: 0; width: 450px; border: 1px solid #e8eaed; background: #f5f5f5;box-shadow: 4px 6px 18px 0px rgba(0, 0, 0, 0.23); z-index: 199;}
.myMenuListW .myInfo{ padding: 22px 25px 15px 20px; background: #fff; border-bottom: 1px solid #e8eaed;}
.myMenuListW .myInfo .infoTit{height: 40px; line-height: 40px; padding-left: 55px; background: url(../../../image/standard/myInfoIcon.png) no-repeat left center; font-size: 18px; color: #2f2f2f;}
.myMenuListW .myInfo .infoTit .userId{color: #222; font-size: 18px; }
.myMenuListW .myInfo .summary{padding-left: 55px;}
.myMenuListW .myInfo .summary li{padding-left: 8px; color: #7c7c7c; line-height: 24px; position: relative;}
.myMenuListW .myInfo .summary li::after{display: block; content: ''; width: 4px; height: 1px; background: #7c7c7c; position: absolute; left: 0; top: 12px;}
.myMenuListW .myInfo .summary li a{color: #7c7c7c;}
.myMenuListW .myInfo .summary li #mynoticeCount{color: #d71212;}
.myMenuListW .myInfo .summary li #overdueCount{color: #d71212;}
.myMenuListW .myMenuList{margin: 10px 0; background: #fff; padding: 0px 10px 0px 10px; border-top: 1px solid #e8eaed; border-bottom: 1px solid #e8eaed;}
.myMenuListW .myMenuList ul li > span{display: block; padding-top: 13px; padding-bottom:12px; padding-left: 30px;}
.myMenuListW .myMenuList ul li:not(:last-of-type) > span{border-bottom: 1px solid #e9e9e9;}
.myMenuListW .myMenuList ul li > span .myMenuTit{margin-bottom: 5px; display: block;color: #3d3d3d; font-size: 16px;}
.myMenuListW .myMenuList ul li > span a.myMenuStatus{margin-right: 23px; padding-left: 8px; color: #787878; position: relative;}
.myMenuListW .myMenuList ul li > span a.myMenuStatus::after{display: block; content: ''; width: 4px; height: 1px; background: #787878; position: absolute; left: 0; top: 12px;}
.myMenuListW .myMenuList ul li > span a.myMenuStatus span{color: #d71212;}
.myMenuListW .myMenuList2{background: #f7f7f7; padding: 25px 0 25px 40px; border-top: 1px solid #e8eaed;}
.myMenuListW .myMenuList2 ul li span .myMenuTit{display: block;color: #3d3d3d; font-size: 16px;}
.myMenuListW .myMenuList2 ul li span a.myMenuStatus{display: block; margin-top: 12px; padding-left: 8px; color: #373737; position: relative;}
.myMenuListW .myMenuList2 ul li span a.myMenuStatus::after{display: block; content: ''; width: 4px; height: 1px; background: #373737; position: absolute; left: 0; top: 12px;}
.myMenuArea .close{position: absolute; right: 25px; top: 27px; width: 14px; height: 14px; background:  url(../../../image/standard/myMenuClose.png) no-repeat center; text-indent: -9999px;}


/* .header2 */
.header2{height: 72px;position: relative;box-sizing: border-box;}
.header2 > div{width:1400px;height: 100%;margin:0 auto}
.header2 .tabletLogo{display:none}
.header2 .mobileLoginInfo{display: none; font-size: 16px; color: #fff;}
.header2 .mobileLoginInfo span{font-size: 16px;}
#divTopMenu{height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;}

#divTopMenu > ul{width: 100%;margin:0 124px 0 152px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;}
#divTopMenu > ul > li > a{display: block; color: #010101; font-size: 20px; font-family:PretendardSB,sans-serif; position: relative; height: 72px; line-height: 72px;}
#divTopMenu > ul > li > a::before{content:''; display:block;position:absolute;top:0px;left:50%;right:50%;height:3px;-webkit-transition:.3s; -ms-transition:.3s; transition:.3s;}
#divTopMenu > ul > li.on > a::before{left: 0; right: 0;}
#divTopMenu > ul > li > div{display: none; position: absolute; left: 0; top: 72px; z-index: 21;width: 100%;background: #fff;}
#divTopMenu > ul > li .menuContent{width:1400px;margin:0 auto;padding-top: 30px; padding-bottom: 90px;}
#divTopMenu > ul > li .menuContent > ul{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
#divTopMenu > ul > li .menuContent > ul > li{width: 100%;}
#divTopMenu > ul > li .menuContent > ul > li:not(:last-of-type){margin-right: 10px;}
#divTopMenu > ul > li .menuContent > ul > li > a{padding: 6px 0 0 17px; color: #444; font-size: 17px; display: block; max-width: 230px; height: 42px; border: 2px solid #e5e7ee; border-radius: 7px; box-sizing: border-box;-webkit-transition: 0.3s; transition: 0.3s;}
#divTopMenu > ul > li .menuContent > ul > li:hover > a{color: #000;}
#divTopMenu > ul > li .menuContent > ul > li > a.arrow{background-image: url(../../../image/standard/topMenuArrow.png);background-repeat: no-repeat;background-position: right 20px top 17px;}
#divTopMenu > ul > li .menuContent > ul > li .menuList{padding: 18px 0 0 22px;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li{margin-bottom: 10px;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a{display: block; color: #7d7d7d; position: relative; padding-left: 13px;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a::after{display: block; content: ''; position: absolute; left: 0; top: 9px; width: 4px; height: 4px; border-radius: 100%; background: #c5c9d6;}
#divTopMenu > ul > li .menuContent > ul > li .menuList ul li a:hover{text-decoration: underline;}

#divTopMenu > .wholeMenuBtn{text-indent: -9999px; width: 18px; height: 12px; display: -webkit-box; display: -ms-flexbox; display: flex;}
#divTopMenu > .wholeMenuBtn span{display: block; width: 18px; height: 2px; background: #080808; -webkit-transition: 0.3s; transition: 0.3s;}
#divTopMenu > .wholeMenuBtn span:nth-of-type(2){margin: 3px 0;}
#divTopMenu > .wholeMenuBtn span:last-of-type{width: 11px;}
#divTopMenu > .wholeMenuBtn:hover span{width: 18px !important;}
@media screen and (min-width:1025px) and (max-width: 1500px){
    .header1>div{width:auto;padding:0 24px}
    .header2 > div{width:auto;padding:0 24px}
    #divTopMenu > ul{margin:0 7%}
}
@media screen and (max-width: 1024px){
    .header1>div{height:60px;width:auto;padding:0 24px}
    .header1{height: 60px;}
    .header1.fixed{margin-bottom:60px}
    .header1 .logo{display:none}
    .header1 .mobileSrhBtn{display:inline-block;width:26px;height:26px;margin-right:8px;background:url(../../../image/standard/searchIco2.png) no-repeat;text-indent: -9999px;}
    .headerSrhFormW{display:none;position:absolute;top: 55px;left: 50%;transform: translateX(-50%);padding: 16px 40px;background:#fff;border-radius: 40px;box-shadow: 0 0 8px rgba(0,0,0,0.1);z-index:1;}

    .header1 .globalMenu > ul > li{margin-left: 24px;}
    .header1 .globalMenu > ul > li.profile .myMenuBtn{padding:4px 16px}
    .header1 .globalMenu > ul > li.profile .myMenuBtn .newMyMenu{top:-4px}
    .myMenuArea{top: 32px;}
    #divTopMenu > ul{display: none;}
    .header2{height:60px}
    .header2 > div{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;width:auto;padding:0 24px}
    .header2 .tabletLogo{display:block}
    .header2 .tabletLogo>a{color:#121212;font-size:26px;font-family: PretendardL,sans-serif;}
    .header2 .tabletLogo>a>span{color:#121212;font-size:26px;font-family: PretendardB,sans-serif;}
    .header2 .mobileLoginInfo{display: block;}
    #divTopMenu > .wholeMenuBtn{position: absolute; right: 20px; top: 27px;}
}
@media screen and (max-width: 767px){
    .header1>div{width:auto;padding:0 8px}
    .header1>div .welcome{display:none}
    .header1 .globalMenu > ul > li{margin-left: 12px;}
    .header1 .globalMenu > ul > li.login > a{font-size:14px}
    .header1 .globalMenu > ul > li.profile .myMenuBtn{padding:4px 12px;font-size:14px}
    .header1 .globalMenu > ul > li.language>a{font-size:14px;background-position:right top 7px}
    .headerSrhFormW{width:calc(100% - 16px);padding:12px 28px;box-sizing: border-box;}
    .header1 .headerSrhForm{width:auto;}
    .header1 .headerSrhForm input[type="text"]{height:36px}
    .header1 .headerSrhForm input[type="submit"]{top:4px}

    .header2 > div{width:auto;padding:0 8px}
}
@media screen and (max-width: 470px){
    .header1 .globalMenu > ul{position: static;}
    .myMenuArea{width: 100%; left: 0; top: 36px;}
    .myMenuListW .myInfo{padding: 22px 10px 15px 10px;}
    .myMenuListW .myInfo .infoTit{font-size: 17px;}
    .myMenuListW .myInfo .infoTit .userId{font-size: 17px;}
    .myMenuArea .close{right: 10px; top: 10px;}
    .myMenuListW .myMenuList ul li > span{padding-left: 10px;}
    .myMenuListW .myMenuList ul li > span a.myMenuStatus{margin-right: 10px;}
    .myMenuListW .myMenuList2{padding: 15px 0 15px 20px;}
}



/* PC 전체메뉴 */
@media screen and (min-width:1025px){
    .wholeMenu{width: 100%;height: calc(100% - 143px);overflow-y: auto;position: fixed;top: 143px;left: 0;z-index: 200; opacity:0;visibility:hidden;transition: .3s;background: #f3f3f4;}
    .wholeMenu.on{visibility:visible; opacity:1}
    .wholeMenu.fixed{top: 0;height:100%}
    .mobileWholeMenuTop p{display: none;}
    .mobileWholeMenuTop a{position: absolute;top: 45px;right: 20px;display: block;width: 48px;height: 48px;border: 1px solid #555;text-indent: -9999px;}
    .mobileWholeMenuTop a span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(45deg);height: 25px;width: 2px;background: #555;display: block;}
    .mobileWholeMenuTop a span:nth-of-type(2){ transform: translate(-50%, -50%) rotate(135deg); }
    .wholeMenuListW{width: auto; margin: 0 auto; padding: 135px 20px; position: relative;}
    .divMenuList > ul{display: flex; flex-wrap: wrap;}
    .divMenuList > ul > li{width: calc((100% - 210px)/4);}
    .divMenuList > ul > li{margin-right: 70px;}
    .divMenuList > ul > li:nth-of-type(4n){margin-right: 0;}
    .divMenuList > ul > li > a{display: block;margin-bottom: 20px;padding: 20px 0;font-size: 20px;color: #000; font-family:NotoSansB, sans-serif;}
    .divMenuList > ul > li > ul > li{margin-bottom: 30px;}
    .divMenuList > ul > li > ul > li:last-of-type{margin-bottom: 0;}
    .divMenuList > ul > li:nth-of-type(n+5){margin-top: 65px;}
    .divMenuList > ul > li > ul > li > a{display: block;color: #000;font-size: 16px;line-height: 1;margin-bottom: 14px;}
    .divMenuList > ul > li > ul > li > ul li a{display: block;padding-left: 16px;position: relative;font-size: 14px;margin-bottom: 5px;color: #555;}
    .divMenuList > ul > li > ul > li > ul li a::after{display: block;content: '';position: absolute;left: 4px;top: 8px;background: #555;width: 4px;height: 4px;border-radius: 100%;}
}
@media screen and (min-width:1480px){
    .wholeMenuListW{width: 1240px; padding: 45px 0px;}
    .mobileWholeMenuTop a{right: -90px;}
}

/* PC 전체메뉴 */
/* Mobile, Tablet 전체메뉴 */
@media screen and (max-width:1024px){
    .wholeMenu{display: block; opacity: 0; visibility: hidden; position: fixed; top: 0; right: -1000px; width: calc(100% - 20px); height: 100%; background: #fff; z-index: 301; transition: 0.3s;}
    .wholeMenu.on{visibility: visible; opacity: 1; right: 0;}
    .wholeMenu .menuArea{display: none;}
    .wholeMenu.on .menuArea{display: block;}
    .mobileWholeMenuTop{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;height: 66px; background: #e7e7e7; padding: 0 20px;}
    .mobileWholeMenuTop p{color: #333; font-size: 14px; padding-left: 30px; background: url(../../../image/standard/mobileMenuBg.png) no-repeat left center; background-size: 20px 16px;}
    .mobileWholeMenuTop .menuClose{display: block; width: 18px; height: 18px; text-indent: -9999px; background: url(../../../image/standard/mobileMenuClose.png) no-repeat; background-size: 18px;}
    .divMenuList{position: relative; height: 100vh;}
    .divMenuList > ul{background: #f2f2f2; height: 100%;}
    .divMenuList > ul > li > a{width: 30%; position: relative; box-sizing: border-box; padding-left: 20px; display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 50px; font-size: 16px; color: #000; font-family:NotoSansM, sans-serif; z-index: 1;}
    .divMenuList > ul > li > a::after{display: block; content: ''; width: calc(100% + 5px); height: 100%; box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.28); position: absolute; left: 0; top: 0; z-index: -1; opacity: 0; -webkit-transition: 0.3s; transition: 0.3s;}
    .divMenuList > ul > li.on > a{color: #000;}
    .divMenuList > ul > li.on > a::after{opacity: 1;background: #f3f3f4;}
    .divMenuList > ul > li > ul{padding: 0 20px; box-sizing: border-box; visibility: hidden; opacity: 0; background: #fff; height: 100%; position:absolute; top: 0; right: 0px; width: 70%; overflow-y: auto; -webkit-transition: 0.3s; transition: 0.3s;}
    .divMenuList > ul > li.on > ul{opacity: 1; visibility: visible;}
    .divMenuList > ul > li > ul > li > a{display: block; padding: 15px 20px 15px 4px ; border-bottom: 1px solid #d6d6d6; color: #333; font-size: 15px; font-family:NotoSansM, sans-serif; position: relative; box-sizing: border-box;}
    .divMenuList > ul > li > ul > li > a.arrow::after{display: block; content: ''; width: 12px; height: 8px; position: absolute; right: 5px; top: 22px; background: url(../../../image/standard/mobileMenuArrow.png) no-repeat center; background-size: 12px 8px; -webkit-transition: 0.3s; transition: 0.3s;}
    .divMenuList > ul > li > ul > li.on > a.arrow::after{-webkit-transform: rotate(180deg); transform: rotate(180deg);}
    .divMenuList > ul > li > ul > li > ul{display: none; padding: 10px 0; border-bottom: 1px solid #d6d6d6;}
    .divMenuList > ul > li > ul > li > ul > li > a{display: block; line-height: 22px; color: #333; font-size: 14px; padding-left: 10px; position: relative;}
    .divMenuList > ul > li > ul > li > ul > li > a::after{display: block; content: ''; position: absolute; left: 0; top: 10px; background: #333; width: 4px ;height: 1px;}
}
@media screen and (max-width:767px){
    .mobileWholeMenuTop{padding: 0 15px;}
    .divMenuList > ul > li > a{padding-left: 15px;}
    .divMenuList > ul > li > ul{padding: 0 10px 0 20px;}
}
@media screen and (max-width:767px){
    .wholeMenu{width: calc(100% - 10px);}
    .divMenuList > ul > li > a{width: 40%;}
    .divMenuList > ul > li > ul{width: 60%;}
}
/* Mobile, Tablet 전체메뉴 */


/* divContentsW */
#divContentsW{overflow: hidden;}
#divContents{position: relative;}
#divContent{min-height:550px;width:1400px;margin: 15px auto 0 auto;padding-bottom:120px}
#divContent.upCHide{margin-top:0 !important}
#divContent.ask{padding-bottom:0 !important}
.subCommon{padding: 18px 0;background: #f3f3f4}
.subCommon>div{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;width:1400px;margin:0 auto}
#divTitle{font-size: 30px;color: #010101; font-family: PretendardSB,sans-serif;}
#divLocation ul{font-size:0}
#divLocation ul>li{display:inline-block}
#divLocation ul>li:first-child a{width:12px;height:23px;display:inline-block;background:url(../../../image/standard/homeIco.png) no-repeat center center;text-indent: -9999px;}
#divLocation ul>li>a{color:#707070;font-family: PretendardM,sans-serif;font-size:15px}
#divLocation ul>li:not(:first-child){position:relative;margin-left:22px;padding-left:20px;}
#divLocation ul>li:not(:first-child)::before{content:"";display:block;position:absolute;top:10px;left:0;width:2px;height:2px;background:#6b6b6b}


@media screen and (max-width:767px){
    
}

@media screen and (min-width:1025px) and (max-width: 1500px){
    .subCommon>div{width:auto;padding:0 24px}
    #divContent{width:auto;padding:0 24px 120px 24px}
}
@media screen and (max-width:1024px){
    .subCommon>div{width:auto;padding:0 24px}
    #divContent{width:auto;padding:0 24px 80px 24px}
}
@media screen and (max-width:767px){
    .subCommon{padding:12px 0}
    .subCommon>div{display:block;width:auto;padding:0 8px}
    #divTitle{font-size:24px;text-align: center;}
    #divLocation{display: none;}

    #divContent{width:auto;padding:0 8px 80px 8px}

    
}
/* divContentsW */

 /* footer */
.footer{background: #3d3d3d; padding: 28px 0 68px 0;}
.footerMenu{border-bottom:1px solid rgb(255,255,255,0.1);}
.footerMenu ul{font-size:0;width:1400px;margin:0 auto;padding:0 0 24px 76px;}
.footerMenu ul li{display: inline-block;}
.footerMenu ul li:not(:last-of-type){margin-right: 88px;}
.footerMenu ul li a{display: inline-block; color: #b1b1b1; font-size: 15px;}
.libraryInfo{width:1400px;margin:0 auto;padding:52px 0 0 76px;}
.libraryInfo address{color: rgba(255,255,255,0.5); font-size: 14px; line-height: 20px;}
.libraryInfo .copyright{color:  rgba(255,255,255,0.5); font-size: 14px;}

@media screen and (min-width:1025px) and (max-width: 1500px){
    .footerMenu ul{width:auto;padding:0 24px 24px 24px}
    .libraryInfo{width:auto;padding:52px 24px 0 24px}
}
@media screen and (min-width:768px) and (max-width: 1024px){
    .footer{padding:20px 0 32px 0}
    .footerMenu ul{width:auto;padding:0 24px 16px 24px}
    .libraryInfo{width:auto;padding:24px 24px 0 24px}
}
@media screen and (max-width: 767px){
    .footer{padding:20px 0 32px 0}
    .footerMenu ul{width:auto;padding:0 8px 16px 8px}
    .libraryInfo{width:auto;padding:24px 16px 0 16px}
}
/* footer */

.blackBg{display:none;position:fixed;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.6);z-index:20;text-indent: -9999px; transition: 0.2s;}
.blackBg.on{display:block}
.blackBg.mo{top: 0;display:block;z-index: 200;}

/* TopBtn */
.topBtn{opacity: 0; visibility: hidden; position: fixed; bottom: 70px; right: 40px; width: 100px; height: 100px; display: block; background: url(../../../image/standard/TopBtn.png) no-repeat center; transition: 0.5s;}
.topBtn.on{opacity: 1; visibility: visible;}
.topBtn span{display: block; color: #ededec; font-family:RobotoB, sans-serif; line-height: 110px; text-align: center;}
@media screen and (max-width:1024px){
    .topBtn{display: none;}
}
/* TopBtn */
