@charset "utf-8";

/* 건너뛰기 */
#divAccessibility{position:absolute;left:0;top:0;z-index:130}
#divAccessibility li{float:left}
#divAccessibility a{position:absolute;width:1px;height:1px;top:-50px;overflow:hidden;text-align:center}
#divAccessibility a:focus, #divAccessibility a:active{position:absolute;top:0;width:200px;height:auto;padding:5px;background-color:#fff;border:solid 1px #0079c6;color:#0079c6;z-index:2}

/* 숨김영역 */
.skip{position:absolute;width:1px;height:1px;text-indent:-9999px;overflow:hidden;border:none}

/* display */
.show{display:inline-block;}
.hide{display:none !important;}
.block{display:block !important;}
.mblock{display:none !important}
@media screen and (max-width:767px) {
    .mblock{display:block !important}
}

/* box-sizing */
.borderBox{box-sizing: border-box;}

/* flexOpt */
.flex{display: -webkit-box; display: -ms-flexbox; display: flex;}/* 박스들의 높이를 맞추고 싶을때 */
/* 자주사용하는 옵션 2가지 */
.flexOpt1{display: -webkit-box; display: -ms-flexbox; display: flex;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;-webkit-box-align: center; -ms-flex-align: center; align-items: center;}/* 중앙정렬 + space-between */
.flexOpt2{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-lines: multiple;-ms-flex-wrap: wrap;flex-wrap: wrap;}/* 컨텐츠 n개씩 떨구고 싶을때 */

/* 개별옵션 */
.flexJS{-webkit-box-pack: start !important;-ms-flex-pack: start !important;justify-content: flex-start !important;}
.flexJC{-webkit-box-pack: center !important;-ms-flex-pack: center !important;justify-content: center !important;}
.flexJB{-webkit-box-pack: justify !important;-ms-flex-pack: justify !important;justify-content: space-between !important;}
.flexJE{-webkit-box-pack: end !important;-ms-flex-pack: end !important;justify-content: flex-end !important;}
.flexAS{-webkit-box-align: start !important; -ms-flex-align: start !important; align-items: flex-start !important;}
.flexAC{-webkit-box-align: center !important; -ms-flex-align: center !important; align-items: center !important;}
.flexAE{-webkit-box-align: end !important; -ms-flex-align: end !important; align-items: flex-end !important;}
.flexW{-webkit-box-lines: multiple !important;-ms-flex-wrap: wrap !important;flex-wrap: wrap !important;}
.flexNW{-webkit-box-lines: single !important;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;}


/* text ellipsis */
.textHidden1{display:block;text-overflow: ellipsis;overflow: hidden;}
.textHidden2{display:-webkit-box; -webkit-line-clamp:2;  -webkit-box-orient:vertical;overflow: hidden;}
.textHidden3{display:-webkit-box; -webkit-line-clamp:3;  -webkit-box-orient:vertical;overflow: hidden;}
.textHidden4{display:-webkit-box; -webkit-line-clamp:4;  -webkit-box-orient:vertical;overflow: hidden;}

/* align */
.fl{float:left !important}
.fr{float:right !important}
.clb{clear:both !important}
.alignC{text-align:center !important}
.alignL{text-align:left !important}
.alignR{text-align:right !important}
.fb{font-weight:bold !important}
.fn{font-weight:normal !important}
.clearfix::after{content:"";display:block;clear:both}

/* strong color */
.col1{color:#f40000 !important} /*red*/
.col2{color:#ff6600 !important} /*orange*/
.col3{color:#ffee00 !important} /*yellow*/
.col4{color:#15ff00 !important} /*green*/
.col5{color:#0000be !important} /*blue*/
.col6{color:#ffffff !important} /*withe*/
.col7{color:#000000 !important} /*black*/
.col8{color:#666666 !important} /*gray*/
.col9{color:#333333 !important} /*darkgray*/
.col10{color: #4c2bf4 !important;} /*main Color*/
/* margin */
.mAuto{margin:0 auto !important}
.mg0{margin:0 !important}
.mt0{margin-top:0px !important}
.mt05{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt80{margin-top:80px !important}
.mr0{margin-right:0px !important}
.mr05{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.mb0{margin-bottom:0px!important}
.mb05{margin-bottom:05px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.ml0{margin-left:0 !important}
.ml05{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
/* padding */
.pd0{padding:0 !important;}
.pd05{padding:5px !important;}
.pd10{padding:10px !important;}
.pd15{padding:15px !important;}
.pd20{padding:20px !important;}
.pd30{padding:30px !important;}
.pt0{padding-top:0px !important;}
.pt05{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pb0{padding-bottom:0px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pl0{padding-left:0px !important;}
.pl05{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pr0{padding-right:0px !important;}
.pr05{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr50{padding-right:50px !important;}
/* width */
.wAuto{width:auto !important}
.w10{width: 10px !important;}
.w20{width: 20px !important;}
.w30{width: 30px !important;}
.w40{width: 40px !important;}
.w50{width: 50px !important;}
.w60{width: 60px !important;}
.w70{width: 70px !important;}
.w80{width: 80px !important;}
.w90{width: 90px !important;}
.w100{width: 100px !important;}
.w120{width: 120px !important;}
.w130{width: 130px !important;}
.w140{width: 140px !important;}
.w150{width: 150px !important;}
.w160{width: 160px !important;}
.w180{width: 180px !important;}
.w200{width: 200px !important;}
.w210{width: 210px !important;}
.w220{width: 220px !important;}
.w240{width: 240px !important;}
.w250{width: 250px !important;}
.w260{width: 260px !important;}
.w280{width: 280px !important;}
.w300{width: 300px !important;}
.w350{width: 350px !important;}
.w400{width: 400px !important;}
.w450{width: 450px !important;}
.w500{width: 500px !important;}
.w550{width: 550px !important;}

.wp10{width: 10% !important;}
.wp16{width: 16.666% !important;}
.wp20{width: 20% !important;}
.wp25{width: 25% !important;}
.wp30{width: 30% !important;}
.wp33{width: 33.333% !important;}
.wp40{width: 40% !important;}
.wp45{width: 45% !important;}
.wp50{width: 50% !important;}
.wp60{width: 60% !important;}
.wp70{width: 70% !important;}
.wp80{width: 80% !important;}
.wp90{width: 90% !important;}
.wp100{width: 100% !important;}

/* height */
.h20{height:20px !important}
.h30{height:30px !important}
.h40{height:40px !important}
.h50{height:50px !important}

/* font-size */
.ft12{font-size:12px !important}
.ft13{font-size:13px !important}
.ft14{font-size:14px !important}
.ft15{font-size:15px !important}
.ft16{font-size:16px !important}
.ft17{font-size:17px !important}
.ft18{font-size:18px !important}
.ft19{font-size:19px !important}
.ft20{font-size:20px !important}

/* selectBox */
select{-webkit-appearance: none; /* 네이티브 외형 감추기 */  -moz-appearance: none; appearance: none;  /* 화살표 모양의 이미지 */ cursor: pointer;}
select::-ms-expand{display: none;} /* IE 10, 11의 네이티브 화살표 숨기기 */
.selectBox1{border: 1px solid #e3e3e3; min-width: 155px; height: 40px; margin: 5px 0; padding: 0 30px 0 12px; color: #555;  background: #fff url(../../../image/standard/ico/selectArrow.png) no-repeat right 16px top 50%; border-radius: 10px;background: #fff;}
.selectBox2{border: none;padding: 0 24px 0 5px;color: rgba(31, 31, 31, 0.8);background: #fff url(../../../image/standard/ico/selectArrow2.png) no-repeat right 6px center}
.selectBox3{height:36px;padding:0 36px 0 16px;color:#545454;border:1px solid #d4d4d4;border-radius: 12px;background:#fff url(../../../image/standard/ico/selectArrow5.png) no-repeat right 15px center;font-size:15px;font-family: PretendardM,sans-serif;}


/* input */
.inputTextType1{padding-left: 8px; border: 1px solid #e3e3e3; height: 40px; border-radius: 10px;box-sizing: border-box;background: #fff;}
.inputTextType2{display: block; margin: 10px 0; padding-left: 12px; border: 1px solid #d4d4d4; height: 55px; border-radius: 10px; width: 100%;box-sizing: border-box;color:#414141;background: #fff;}
.inputTextType3{height:36px;border:1px solid #d4d4d4;border-radius: 12px;padding-left: 12px;color:#545454;font-family: PretendardM,sans-serif;background: #fff;}

.inputTextCal{width: 118px; padding: 0 35px 0 12px; border: 1px solid #e3e3e3; height: 40px; background: url(../../../image/standard/ico/datepickerIcon.png) no-repeat right 15px center #fff; border-radius: 10px;}
.inputTextCal2{width:calc(50% - 9px);height:100%;padding:0 36px 0 16px;border:none; background: url(../../../image/standard/ico/datepickerIcon2.png) no-repeat right 15px center #fff;border-radius: 12px;color:#545454;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;box-sizing: border-box;}
.inputTextCal2::placeholder{color:#545454;font-family: PretendardM,sans-serif;letter-spacing: -0.025em;}


/* checkBox */
input[type="checkbox"]{margin: 0;width: 16px;height: 16px; cursor: pointer; vertical-align: middle;}
label{vertical-align: middle;}

/* customChk */
.customChk{border:0;clip:rect(0 0 0 0);height:1px !important;width:1px !important;margin:-1px !important;overflow:hidden;padding:0;position:absolute !important;} 
.customChk + label{position:relative;display:inline-block;padding:0 0 0 28px;min-height:20px;line-height:20px;cursor:pointer}
.customChk + label::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #ccc;border-radius: 100%;}
.customChk:focus + label::before{outline: 2px solid #000;}
.customChk + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #000;border-radius: 100%;}
.customChk:checked  + label::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #000;border-radius: 100%;}
.customChk:focus + label.on::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #000;border-radius: 100%;}
.customChk + label.disable::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #ddd;border-radius: 100%;}
.customChk:disabled + label::before{content:"";display:block;position:absolute;top:0;left:0;width:20px;height:20px;background:url(../../../image/standard/ico/customChk1.png) no-repeat center #ddd;border-radius: 100%;}


/* customRadio */
.customRadio + label{display:inline-block;line-height:0;vertical-align:middle}
.customRadio{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.customRadio + label{position:relative;display:inline-block;padding:0 0 0 28px;min-height:20px;line-height:20px;;cursor:pointer;color:#333;font-size:15px}
.customRadio + label::before{content:"";display:block;position:absolute;top:1px;left:0;width:16px;height:16px;border:1px solid #b1b1b1;border-radius: 100%;}
.customRadio:focus + label::before{outline:1px solid #000}
.customRadio.on + label::before{border:2px solid #000}
.customRadio.on + label::after{content:"";display:block;position:absolute;top:5px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}
.customRadio:checked + label::before{border:1px solid #000}
.customRadio:checked + label::after{content:"";display:block;position:absolute;top:6px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}
.customRadio:focus + label.on::before{outline:1px solid #000}
.customRadio:disabled + label::before{border:1px solid #000}
.customRadio:disabled + label::after{content:"";display:block;position:absolute;top:5px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}
.customRadio:disabled + label.disableOn::before{border:1px solid #000}
.customRadio:disabled + label.disableOn::after{content:"";display:block;position:absolute;top:5px;left:5px;width:8px;height:8px;background:#000;border-radius: 100%;}

.customRadio1 + label{padding:25px 0 0 0}
.customRadio1 + label::before{left:50%;transform: translateX(-50%);}
.customRadio1.autoComContent + label::after{left:50%;transform: translateX(-50%);}
.customRadio1:checked + label::after{left:50%;transform: translateX(-50%);}
.customRadio1:disabled + label::after{left:50%;transform: translateX(-50%);}
.customRadio1:disabled + label.disableOn::after{left:50%;transform: translateX(-50%);}

.customRadio2 + label{padding-left:26px;color:#000;line-height: 22px;font-size:16px;}
.customRadio2 + label::before{top:0;width:20px;height:20px;background:#fff}
.customRadio2:checked + label::after{top:5px;width:12px;height:12px}

@media screen and (max-width:767px){
    .customRadio2 + label{padding-left:23px;color:#000;line-height: 19px;font-size:15px;}
    .customRadio2 + label::before{width:16px;height:16px;background:#fff}
    .customRadio2:checked + label::after{width:8px;height:8px}
}


/* placeholder */
input::placeholder{color:#555;}
input[type="text"]::-webkit-input-placeholder{color:#555;}
input[type="text"]::-moz-placeholder{color:#555;}
input[type="text"]:-ms-input-placeholder{color:#555;}
input[type="text"]:-moz-placeholder{color:#555;}

/* placeholder */
.inputTextType2::placeholder{color:#414141;}
.inputTextType2[type="text"]::-webkit-input-placeholder{color:#414141;}
.inputTextType2[type="text"]::-moz-placeholder{color:#414141;}
.inputTextType2[type="text"]:-ms-input-placeholder{color:#414141;}
.inputTextType2[type="text"]:-moz-placeholder{color:#414141;}

/* placeholder2 */
.inputPlaceholder::placeholder{color:#b2b2b2;}
.inputPlaceholder[type="text"]::-webkit-input-placeholder{color:#b2b2b2;}
.inputPlaceholder[type="text"]::-moz-placeholder{color:#b2b2b2;}
.inputPlaceholder[type="text"]:-ms-input-placeholder{color:#b2b2b2;}
.inputPlaceholder[type="text"]:-moz-placeholder{color:#b2b2b2;}

/* Button  */
.btnType1{display:inline-block;margin:0 3px;padding:6px 15px;border:1px solid #d4d4d4;border-radius: 10px;background:#fff;color:#666;cursor: pointer;}
.btnType2{display:inline-block;margin:0 3px;padding:0 14px;height:36px;border:1px solid #000;border-radius: 12px;background:#000;color:#fff;cursor: pointer;}
.btnType3{display: inline-block;margin:0 2px;padding: 0 28px 0 8px;height:28px;border: 1px solid #d4d4d4; background: #fff url(../../../image/standard/ico/download2.png) no-repeat right 8px center;  color: #555555; border-radius: 10px; font-size: 13px;line-height: 26px;box-sizing: border-box; font-family: PretendardM, sans-serif; transition: border .3s, color .3s; margin-bottom: 4px;}
.btnType3:hover{color: #000;border-color: #000;}
.btnType4{display: inline-block;margin:0 2px;padding: 0 28px 0 8px;height:28px;border: 1px solid #d4d4d4; background: #fff url(../../../image/standard/ico/goIcon4.png) no-repeat right 8px center;  color: #555555; border-radius: 10px; font-size: 13px;line-height: 26px;box-sizing: border-box; font-family: PretendardM, sans-serif; transition: border .3s, color .3s; margin-bottom: 4px;}
.btnType4:hover{color: #000;border-color: #000;}

/* 레이어팝업, 기능화면 하단 100% 크기 버튼  btnBunchType1 과 같이 쓰임*/
.botBtnType1{display:inline-block;width:100%;height:58px;padding:0 12px;border:1px solid #000;border-radius: 10px;background:#fff;color:#000;font-size:16px;line-height: 56px;text-align: center;box-sizing: border-box;cursor:pointer;}
.botBtnType2{display:inline-block;width:100%;height:58px;padding:0 12px;border:1px solid #000;background:#000;color:#fff;border-radius: 10px;font-size:16px;line-height: 56px;text-align: center;box-sizing: border-box;cursor:pointer;}

/* 기능하단 작은 버튼 */
.botBtnType3{display:inline-block;min-width:126px;height:45px;padding:0 12px;border:2px solid #000;border-radius: 10px;background:#fff;color:#000;font-family: PretendardB,sans-serif;font-size:15px;line-height: 43px;text-align: center;box-sizing: border-box;cursor:pointer;}
.botBtnType4{display:inline-block;min-width:126px;height:45px;padding:0 12px;border:2px solid #000;background:#000;color:#fff;border-radius: 10px;font-family: PretendardB,sans-serif;font-size:15px;line-height: 43px;text-align: center;box-sizing: border-box;cursor:pointer;}

/* btnBunchType1 - 센터로 오고 자식요소들 컨텐츠에 꽉차게
   many - 요소들의 텍스트가 길거나(영문페이지), 화면을 줄였을때 요소 개수가 많아 글자가 떨어질때
*/
.btnBunchType1{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;margin-top:40px}
.btnBunchType1>span{display:inline-block;width:100%;margin:4px}
.btnBunchType1.one>span{width:50%}
.btnBunchType1.auto>span{width:auto}
.btnBunchType1>span:first-child{margin-left:0}
.btnBunchType1>span:last-child{margin-right:0}


/* rigthOrder -> 작은버튼이 오고, 오른쪽으로 붙은 버튼 */
.rigthOrder{-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.rigthOrder>span{width:auto}

@media screen and (max-width:767px){
    .btnBunchType1.many{-webkit-box-lines: multiple;-ms-flex-wrap: wrap;flex-wrap: wrap}
    .btnBunchType1.many>span{width:auto}
    .botBtnType1, .botBtnType2{height:40px;line-height: 38px;font-size:15px}

    .rigthOrder{-webkit-box-pack: center; -ms-flex-pack: center; justify-content: center}
    .rigthOrder>span{width:100%}
    .rigthOrder>span>a{width:100%}
}


/* textarea */
textarea.txtArea{width:100%;height:85px;border:1px solid #d4d4d4;resize:none;box-sizing: border-box;}

/* paging */
.paging{clear:both;margin:70px 0 0;text-align:center}
.paging > .page{display:inline-block;margin:0 12px}
.paging > span{margin:0 11px;}
.paging > span span{display: inline-block;width: 26px;height: 26px;color: #fff;background: #000;border-radius: 100%;box-sizing: border-box;line-height: 26px;}
.paging > span a{display: inline-block; width: 26px; height: 26px; color:#989898;line-height: 26px;}
.paging > span *{margin: 0 9px}
@media screen and (max-width:767px){
    .paging{margin-top:32px}
    .paging > .page{margin:0 4px}
    .paging > span{margin:0}
    .paging > span *{margin: 0 3px;}
}

/* 필수사항 */
.essential{color:#e23d3f;font-size: 20px; position: absolute; right: -23px; top: 1px;}
.sentence{margin-bottom: 5px; font-size: 14px; text-align: right; color: #384655;}
.sentence .essential{position: relative; left: 0; top: 7px;}

/* error */
.errorMsgW{position: relative; height: 100%; padding: 20px 0; box-sizing: border-box;}
.errorMsgA{position: absolute; height: 100%; width: 100%; padding: 20px 0; box-sizing: border-box;}
.errorMsgW::after{display: block; content: ''; width: 100%; height: 50%; background-color: #fafafa; position: absolute; left: 0; top: 50%; z-index: -1;}
.errorContent{position: relative; padding: 0 10px; text-align: center; top: 46%; transform: translateY( -50%);}
.errorMsgW .tit1{color: #3e3e3e; font-size: 30px; font-weight: 700; margin-top: 50px;}
.errorMsgW .tit2{color: #7b7b7b; font-size: 30px; margin-bottom: 120px;}
.errorBottom p{color: #7c7c7c; font-size: 16px; margin-bottom: 25px;}
@media screen and (max-width:767px){
    .errorMsgW .tit1{margin-top: 30px; font-size: 22px;}
    .errorMsgW .tit2{margin-bottom: 40px; font-size: 22px;}
    .errorContent{top: 50%;}
    .errorBottom p{font-size: 15px; margin-bottom: 20px;}
}

/* layerPopup */
.layerPopup{ min-width: 340px;  position: fixed; display: none; z-index: 202;  border-radius: 10px; box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.17);background:#fff;padding:0 20px;box-sizing: border-box;}
.layerPopup2{position: fixed; display: none; z-index: 201; width: 1240px; left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 25px; box-shadow: 3px 4px 16px 0px rgba(0, 0, 0, 0.17);}
.layerPopup2.on{animation: popupOn .2s ease-out; display: block; }

@-moz-keyframes popupOn{
    0%{ opacity: 0; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0);}
  100%{ opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
}
@-webkit-keyframes popupOn{
    0%{ opacity: 0; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0);}
  100%{ opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
}
@keyframes popupOn{
    0%{ opacity: 0; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0);}
  100%{ opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
}

@keyframes popupOnM{
    0%{ bottom: -100%}
  100%{ bottom:0}
}


.layerPopup .popTitArea{display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;padding: 28px 0 16px 0;border-bottom:2px solid #000}
.layerPopup .popTitArea h3.tit{display:inline-block;margin-right:16px;color: #050505; font-size: 22px; font-family:PretendardB,sans-serif;}
.layerPopup .popTitArea h3.subTit{display:inline-block;color:#666;font-family: PretendardM,sans-serif;font-size:16px;}
.layerPopup h3 span{color: #fff; font-size: 18px; font-family:NotoSansM,sans-serif; float: right;}
.layerPopup .popupContent{padding: 30px 0 20px 0; overflow-y: auto;}
.layerPopup .popupBg{background: #f3f3f3; border-radius: 3px; padding: 20px;}
.layerPopup .popupContent .notice{text-align: center; color: #333333; font-size: 16px; line-height: 30px;}
.layerPopupButtons{text-align: center; margin-top: 35px;}
.layerPopupButtons a, .layerPopupButtons input{display: inline-block; margin: 4px; height: 37px; line-height: 35px; padding: 0 36px;}
.layerPopup .layerCloseBtn, .layerPopup2 .layerCloseBtn{position: absolute; left:50%; top: -45px;transform: translateX(-50%); display: block; width: 30px; height: 30px; background: url(../../../image/standard/btn/closeBtn4.png) no-repeat center; text-indent: -9999px;}
.layerPopup2 .layerCloseBtn{right: -86px; top: 0;}
@media screen and (max-width:1280px){
    .layerPopup2{width: calc(100% - 180px); left: 48%;}
}
@media screen and (min-width:768px){
    .layerPopup{left: 50%; top: 50%; transform: translate(-50%, -50%);}
    .layerPopup.on{animation: popupOn .2s ease-out; display: block; }
    .layerPopup .popupContent{max-height: 62vh !important;}
}

@media screen and (max-width:767px){
    .layerPopup{width: 100%;height:40%; min-width: 0 !important;bottom:0;left:0;border-radius: 10px 10px 0 0;transition:height .3s}
    .layerPopup.long{height:80%}
    .layerPopup.on{animation: popupOnM .2s ease-out;display:block}
    .layerPopup .popupContent{padding: 25px 0;box-sizing: border-box;}

    .layerPopup2{top: 54%;  left: 50%;}
    .layerPopup2 .layerCloseBtn{right: calc(50% - 15px); top: -70px;}
}
/* layerPopup */

/* 결과페이지 */
.complete{border:1px solid #e3e3e3; border-radius: 5px; padding:130px 20px; box-sizing: border-box; text-align: center;}
.state{color: #555555; padding-top: 160px; font-size: 25px; font-family:NotoSansM,sans-serif;}
.completeTxt{width: 300px; color: #555555; margin-top: 25px; text-align: left; margin: 25px auto;}
.completeTxt li{padding-left: 10px; position: relative;}
.completeTxt li::after{display: block; content: ''; width: 3px; height: 3px; border-radius: 50%; background: #555; position: absolute; left: 0; top: 10px;}
.result1 .state{background: url(../../../image/standard/ico/result1.png) no-repeat top center;}
.result2 .state{color: #1343E0; background: url(../../../image/standard/ico/result2.png) no-repeat top center;}
.result3 .state{color: #EF063D; background: url(../../../image/standard/ico/result3.png) no-repeat top center;}
@media screen and (max-width:767px){
    .state{padding-top: 140px;}
    .complete{padding: 155px 16px;}
    .completeTxt{margin-top: 20px; width: 250px;}
}

/* 다국어 입력 input */
.languageInputW{position: relative;}
.languageInput{margin-right: 0 !important; padding-right: 55px;}
.btnLanguage{display: inline-block; height: 14px; width: 26px; position: absolute; right: 16px; top: 18px; text-indent: -9999px; background: url(../../../image/standard/ico/languageBtn.png) no-repeat center;}
.languageInputW .btnLanguage{position: relative; top: 5px; right: 40px;}
.operatorItem .btnLanguage{right:120px;}
@media screen and (max-width:767px){
    .btnLanguage{display: none;}
}

/* 다국어입력 */
.languageWrap{display: none; width: 100%; background: #EBEBEB; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px; border-radius: 5px;position: absolute; left: 0; top: 70px; z-index: 1;}
.simple-keyboard{float: left; width: 78% !important;}
.languageContent{box-sizing: border-box; background: #EBEBEB; padding: 5px;float: right; width: 22%; border-radius: 5px;}
.languageContent .tit{display: block; overflow: hidden; opacity: 0; height: 1px; font-size: 1px;}
.languageContent .languageSelect{height: 219px; overflow-y: scroll; border: 1px solid #e3e3e3; background: #fff; box-sizing: border-box;}
.languageContent .languageSelect a{display: block; font-size: 14px; padding: 6px 5px; color: #343a40; -webkit-transition: 0.3s; transition: 0.3s;}
.languageContent .languageSelect a:hover, .languageContent .languageSelect a.on{background: #343a40; color: #fff;}
.item .languageWrap{width:647px;left:inherit;right:0}
.item.operatorItem .languageWrap{width:540px;left:inherit;right:110px}
@media screen and (max-width: 767px){
    .searchIcon{display: none;}
    .languageWrap{display: none !important;}
}
/* 다국어입력 */

.blackBg, .blackBg2{display:none;position:fixed;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.6);z-index:20;text-indent: -9999px; transition: 0.2s;}
.blackBg2{z-index: 202 !important;}
.blackBg.on, .blackBg2.on{display:block}
.blackBg.mo, .blackBg2.mo{top: 0;display:block;z-index: 200;}

.pagination{margin-top:70px; text-align:center}
.pagination li{display:inline-block;vertical-align: middle;margin: 0 2px;}
.pagination li:nth-of-type(1), .pagination li:nth-of-type(2), .pagination li:last-of-type, .pagination li.next{border:1px solid #e3e3e3; width: 40px; height: 40px; text-align:center; color:#555; border-radius:5px; }
.pagination li:nth-of-type(1) a, .pagination li:nth-of-type(2) a, .pagination li:last-of-type a, .pagination li.next a{display:block;text-indent:-9999px;width: 14px;height: 14px;margin: 13px auto;}
.pagination li:nth-of-type(1) a{background: url(../../../image/standard/btn/firstPage.png) no-repeat;}
.pagination li:nth-of-type(2) a{background: url(../../../image/standard/btn/prevPage.png) no-repeat;}
.pagination li.next a{background: url(../../../image/standard/btn/nextPage.png) no-repeat;}
.pagination li:last-of-type a{background: url(../../../image/standard/btn/lastPage.png) no-repeat;}
.pagination li.active a{display: inline-block; width: 40px; height: 40px; color:#555; background: #f3f3f3; border-radius: 5px; box-sizing: border-box;}
.pagination li a{line-height:40px;width: 40px;height: 40px;color: #555;display: inline-block;}

/* 상세검색 */
.detailSearchLayer{width:1400px}
.dsTab{margin-bottom:12px}
.advancedSearch .advanceTit{display: block; width: 160px; margin-bottom: 4px; color: #384655; font-size: 16px;}
.advancedSearch .searchKeyword{margin-bottom: 16px;}
.advancedSearch .item{position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;-webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.advancedSearch .selectBox1{width:auto !important}
.advancedSearch .inputSearchKeyword{width: 100%; margin: 0 8px;}
.advancedSearch .item .selectBoolean{min-width: 100px;}
.advancedSearch .searchLimit{margin: 8px 0;}
.advancedSearch .searchLimit ul li{display: inline-block; position: relative; margin-right: 28px; margin-bottom: 5px;}
.advancedSearch .searchLimit ul li:last-of-type{margin-right: 0;}
.advancedSearch .searchLimit .datepick{width: 155px;}
.advancedSearch .searchLimit .datepickLayer{width: 155px;}

@media screen and (max-width:1420px){
    .detailSearchLayer{width:95%}
}
@media screen and (max-width:767px){
    .detailSearchLayer{width:100%;}
    .advancedSearch .item{display: block;}
    .advancedSearch .item .selectBox1.selectSearchItem{display: block; width: 100% !important;}
    .advancedSearch .inputSearchKeyword, .advancedSearch .item .selectBoolean{display: inline-block;}
    .advancedSearch .item .selectBoolean{min-width:0 !important;width:calc(35% - 8px) !important}
    .advancedSearch .inputSearchKeyword{width: 65%; margin-left: 0; margin-right: 4px;}
    .advancedSearch .searchLimit .datepick{width:calc(50% - 9px)}
    .advancedSearch .searchLimit .datepickLayer{width:calc(50% - 9px)}
}
@media screen and (max-width:480px){
    .detailSearchLayer .btnBunchType1{max-width: 380px;margin:0 auto}
}
@media screen and (max-width:452px){
    .advancedSearchW .btnBunchType1{max-width: 380px;margin:0 auto}
    
}

/* swiper */
.swipeType1 .inner{ overflow: hidden;}
.swipeType1 .swiper-wrapper{height:auto}
.swipeType1 .tab{display:inline-block;width:auto}
.swipeType1 .tab:not(:last-child){margin-right: 8px;}
.swipeType1 .tab a{position:relative;display:block;padding:0 14px;height:39px;background:#ededf0;border-radius: 10px;color:#000;font-size:16px;line-height: 39px;}
.swipeType1 .tab.on a{color:#fff;background:#000;font-family: PretendardB,sans-serif;}

