@charset "utf-8";

@font-face{
    font-family:PretendardL;
    src:url(../../font/Pretendard-Light.eot);
    src:local('※'), url(../../font/Pretendard-Light.woff) format('woff');
}
@font-face{
    font-family:Pretendard;
    src:url(../../font/Pretendard-Regular.eot);
    src:local('※'), url(../../font/Pretendard-Regular.woff) format('woff');
}
@font-face{
    font-family:PretendardM;
    src:url(../../font/Pretendard-Medium.eot);
    src:local('※'), url(../../font/Pretendard-Medium.woff) format('woff');
}
@font-face{
    font-family:PretendardSB;
    src:url(../../font/Pretendard-SemiBold.eot);
    src:local('※'), url(../../font/Pretendard-SemiBold.woff) format('woff');
}
@font-face{
    font-family:PretendardB;
    src:url(../../font/Pretendard-Bold.eot);
    src:local('※'), url(../../font/Pretendard-Bold.woff) format('woff');
}