@charset "utf-8";

/* list tab */
.listTab{width:1400px;margin:16px auto 30px auto;text-align: center;}
.listTab .swiper-wrapper{justify-content: center;}
@media screen and (min-width:1025px) and (max-width: 1500px){
    .listTab{width:auto;padding:0 24px}
}
@media screen and (max-width:1024px){
    .listTab{width:100%;margin:16px auto 30px auto;}
}

/* boardWrite */
.boardWrite{border: 1px solid #d4d4d4;border-radius: 16px;padding: 30px;box-sizing: border-box;}
.boardWrite table{table-layout: fixed;}
.boardWrite table th{width: 120px; padding: 6px; text-align: left; font-size: 16px; color: #000; vertical-align: center; box-sizing: border-box;}
.boardWrite table th label,.boardWrite table th span{font-size: inherit;}
.boardWrite table td{padding: 6px; box-sizing: border-box;}
.boardWrite table td img{vertical-align: text-top;}
.boardWrite input[type=text],.boardWrite input[type=password],.boardWrite input[type=email]{width: 100%; height: 34px; border: 0; border-bottom: 1px solid #d9d9d9;font-size: 15px;font-family: PretendardM, sans-serif;color: #4c4c4c;}
.boardWrite .inputBunch{display: flex; align-items: baseline; border-bottom: 1px solid #d9d9d9;}
.boardWrite .inputBunch input{border-bottom: 0;}
.boardWrite .inputBunch .bunch{flex-shrink: 0;}
.boardWrite .fileBtn{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.boardWrite .fileBtn + label{display: inline-block; min-width: 103px; line-height: 1.2em; border: 0; border-radius: 16px; padding: 6px 14px; box-sizing: border-box; background-color: #ededf0; color: #6f6f6f; font-size: 14px; text-align: center;}
.boardWrite .fileBtn:focus + label{outline: 2px solid #000; }
.boardWrite .fileUpload .dropBox{border: 1px solid #d9d9d9; border-radius: 12px; overflow: hidden; min-height: 75px; position: relative; margin-top: 10px;}
.boardWrite .fileUpload .dropBox .placeholder{font-size: 14px; color: #6f6f6f; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.boardWrite .editor{border: 1px solid #d9d9d9; border-radius: 12px; overflow: hidden; min-height: 370px; margin-top: 10px;}
.boardWrite .bunch{display:inline-block; margin-right: 16px;}
.boardWrite .selectBox3{width: 280px;}
.boardWrite .limCal{display:inline-block;width:268px;height:36px;margin:3px 0;color:#545454;font-family: PretendardM,sans-serif;border:1px solid #d4d4d4;border-radius: 12px;letter-spacing: -0.025em;box-sizing: border-box;}
.boardWrite .limCal input[type=text]{border: 0; width: calc(50% - 9px);}

@media screen and (max-width:1024px){
    .boardWrite{padding: 30px 16px;}
}
@media screen and (max-width:767px){
    .boardWrite{padding: 30px 8px;}
    .boardWrite .bunch{margin: 2px 0 3px 0;}
    .boardWrite table{display: block;}
    .boardWrite table tr{display: block;}
    .boardWrite table tr:first-child th:first-child{margin-top: 0;}
    .boardWrite table th{display: block; padding: 0; margin-top: 20px;}
    .boardWrite table td{display: block; padding: 0; margin-top: 0px;}
    .boardWrite .limCal{width: 100%;}
    .boardWrite .selectBox3{width: 100%;}
}